@font-face{
    font-family: ProductSans;
    src: url(productsans.ttf);
}
@font-face{
    font-family: ProductSansBlack;
    src: url(productsansblack.ttf);
}
@font-face{
    font-family: ProductSansBold;
    src: url(productsansbold.ttf);
}