@font-face{
    font-family: ProductSans;
    src: url(productsans.ttf);
}
@font-face{
    font-family: ProductSansBlack;
    src: url(productsansblack.ttf);
}
@font-face{
    font-family: ProductSansBold;
    src: url(productsansbold.ttf);
}
@font-face{
    font-family: ProductSansLight;
    src: url(productsanslight.ttf);
}
@font-face{
    font-family: ProductSansThin;
    src: url(productsansthin.ttf);
}
@font-face{
    font-family: icons;
    src: url(icomoonn.ttf);
}
@font-face{
    font-family: icons1;
    src: url(social_icons.ttf);
}
