:root {
  background-color: var(--background-color);
}

  
* {
  --content-scale: 0.8;
}
.main_content_layer {
  position: relative;
  width: 100vw;
  height: fit-content;
  min-height: calc(10rem * var(--content-scale));
  /* background-color: rgba(255, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: calc(15rem * var(--content-scale));
  padding: 0 10vw 0 10vw;
}
.main_content_layer .background_overlay {
  position: absolute;
  z-index: -1;
  width: 100vw;
  /* height: 100%; */
  top: calc(-20rem * var(--content-scale));
  left: 0;
  bottom: calc(-20rem * var(--content-scale));
  overflow: hidden;
  mask-image: url(../assets/images/softedgemask.png);
  mask-size: 120% 100%;
  mask-position: 50% 0;
  mask-repeat: no-repeat;
  opacity: 0.3;
  display: flex;
  justify-self: flex-end;
  /* background-color: red; */
}

.dot_overlay {
  height: 100%;
  width: 100%;
  background-image: url(../assets/images/dot.png);
  background-repeat: repeat;
  position: absolute;
  background-size: 1.6rem;
  opacity: 0.8;
}
.grid_overlay {
  height: 100%;
  width: 100%;
  background-image: url(../assets/images/grid.png);
  background-repeat: repeat;
  position: absolute;
  background-size: 2rem;
  opacity: 0.4;
}





*{
  --bph: calc(30rem * var(--content-scale));
  --bpw: calc(57rem * var(--content-scale));
}


.gallery .photo_cards {
  height: auto;
  min-height: calc(30rem * var(--content-scale));
  min-width: calc(28rem * var(--content-scale));
  /* background-color: rgba(0, 128, 0, 0.288); */
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.photo_cards .project {
  transition: 0.5s;
  position: absolute;
  height: calc(25rem * var(--content-scale));
  width: calc(18rem * var(--content-scale));
  background-color: rgb(53, 53, 53);
  border-radius: calc(2.5rem * var(--content-scale));
  border: 1px solid var(--accent-color);
  box-shadow: 0 0 calc(5rem * var(--content-scale)) calc(-2rem * var(--content-scale)) black;
  cursor: pointer;
  background-size: cover;
  background-position: center;
}
.photo_cards .p1 {
  z-index: 1;
  background-color: rgb(20, 20, 20);
  transform: rotate(-14deg) translate(calc(-2.2rem * var(--content-scale)),calc(-0.6rem * var(--content-scale)));
}
.photo_cards .p2 {
  z-index: 2;
  background-color: rgb(40, 40, 40);
  transform: rotate(0deg) translate(calc(0rem * var(--content-scale)),calc(0rem * var(--content-scale)));
}
.photo_cards .p3 {
  z-index: 3;
  background-color: rgb(76, 76, 76);
  transform: rotate(14deg) translate(calc(2.3rem * var(--content-scale)),0);
}
.photo_cards .p1::after {
  transition: 0.5s;
  content: " ";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: calc(2.5rem * var(--content-scale));;
}
.photo_cards .p2::after {
  transition: 0.5s;
  content: " ";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: calc(2.5rem * var(--content-scale));;
}
.photo_cards .project:hover::after,
.photo_cards .p1.activePC1::after,
.photo_cards .p2.activePC2::after {
  background-color: rgba(0, 0, 0, 0);
}

.photo_cards .p1.activePC2,
.photo_cards .p1.activePC3,
.photo_cards .p2.activePC1,
.photo_cards .p2.activePC3,
.photo_cards .p3.activePC1,
.photo_cards .p3.activePC2 {
  transform: rotate(0deg) translate(0,0) scale(100%);
}
.photo_cards .p1.activePC1 {
  animation: photocard1-select 1.5s forwards;
}
.photo_cards .p2.activePC2 {
  animation: photocard2-select 1.5s forwards;
}
.photo_cards .p3.activePC3 {
  transform: rotate(0deg) translate(0,0) scale(120%) !important;
}
.photo_cards .p1.activeNo.fromPC1 {
  animation: photocard1-deselect 0.9s none;
}
.photo_cards .p2.activeNo.fromPC2 {
  animation: photocard2-deselect 0.9s none;
}

.photo_cards .project:hover {
  box-shadow: 0 0 4rem -2rem var(--accent-color);
}
.photo_cards:hover .p1.activeNo {
  transform: rotate(-30deg) translate(calc(-5rem * var(--content-scale)),calc(-4rem * var(--content-scale)));
}
.photo_cards:hover .p2.activeNo {
  transform: rotate(-5deg) translate(calc(-1rem * var(--content-scale)),calc(-1rem * var(--content-scale)));
}
.photo_cards:hover .p3.activeNo {
  transform: rotate(18deg) translate(calc(3.5rem * var(--content-scale)),0);
}

.photo_cards:hover .p1.activeNo:hover {  
  transform: rotate(-15deg) translate(calc(-5rem * var(--content-scale)),calc(-9rem * var(--content-scale)));
}
.photo_cards:hover .p2.activeNo:hover {
  transform: rotate(0deg) translate(calc(-1rem * var(--content-scale)),calc(-7rem * var(--content-scale)));
}
.photo_cards:hover .p3.activeNo:hover {
  transform: rotate(18deg) translate(calc(3.5rem * var(--content-scale)),0);
}

@keyframes photocard1-select{
  0% {
    transform: rotate(-15deg) translate(calc(-5rem * var(--content-scale)),calc(-9rem * var(--content-scale)));
    pointer-events: none;
  }
  20% {
    transform: rotate(-15deg) translate(calc(-5rem * var(--content-scale)),calc(-28rem * var(--content-scale)));
    pointer-events: none;
  }
  45% {
    z-index: 4;
    pointer-events: none;
  }
  70%,100% {
    z-index: 4;
    transform: rotate(0deg) translate(0,0) scale(120%);
    pointer-events: all;
  }
}
@keyframes photocard2-select{
  0% {
    transform: rotate(0deg) translate(calc(-1rem * var(--content-scale)),calc(-7rem * var(--content-scale)));
    pointer-events: none;
  }
  20% {
    transform: rotate(0deg) translate(calc(-1rem * var(--content-scale)),calc(-26rem * var(--content-scale)));
    pointer-events: none;
  }
  45% {
    z-index: 4;
    pointer-events: none;
  }
  70%,100% {
    z-index: 4;
    transform: rotate(0deg) translate(0,0) scale(120%);
    pointer-events: all;
  }
}

@keyframes photocard1-deselect{
  0% {
    z-index: 4;
    transform: rotate(0deg) translate(0,0) scale(120%);
    pointer-events: none;
  }
  40% {
    z-index: 4;
    transform: rotate(-15deg) translate(calc(-5rem * var(--content-scale)),calc(-28rem * var(--content-scale)));
    pointer-events: none;
  }
  50% {
    z-index: 1;
    pointer-events: none;
  }
  80% {
    transform: rotate(-30deg) translate(calc(-5rem * var(--content-scale)),calc(-4rem * var(--content-scale)));
    pointer-events: all;
  }
}
@keyframes photocard2-deselect{
  0% {
    z-index: 4;
    transform: rotate(0deg) translate(0,0) scale(120%);
    pointer-events: none;
  }
  40% {
    z-index: 4;
    transform: rotate(0deg) translate(calc(-1rem * var(--content-scale)),calc(-26rem * var(--content-scale)));
    pointer-events: none;
  }
  50% {
    z-index: 2;
    pointer-events: none;
  }
  80% {
    transform: rotate(-5deg) translate(calc(-1rem * var(--content-scale)),calc(-1rem * var(--content-scale)));
    pointer-events: all;
  }
}

.gallery p.body.alt1 {
  font-size: calc(1.8rem * var(--content-scale));
  margin-left: calc(2.5rem * var(--content-scale));
  margin-right: calc(2rem * var(--content-scale));
  align-self: center;
  white-space: pre-wrap;
}








.venn_container .background_overlay {
  opacity: 0.15;
  /* border: 2px solid red; */
}
.diagram {
  color: rgba(255, 255, 255, 0.755);
  position: absolute;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.462);
  height: calc(25rem * var(--content-scale));
  width: calc(25rem * var(--content-scale));
  /* opacity: 0.5; */
  border-radius: 50%;
  /* border: 1px solid var(--accent-color); */
  mix-blend-mode:screen;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  white-space: pre-wrap;
  /* border: 2px solid red; */
}
.diagram.d1 {
  background-color: #612401;
}
.diagram.d2 {
  background-color:  #012b61;
  margin-left: calc(-13rem * var(--content-scale));
  margin-top: calc(11rem * var(--content-scale));
}
.diagram.d3 {
  background-color:  #2a195b;
  margin-left: calc(13rem * var(--content-scale));
  margin-top: calc(11rem * var(--content-scale));
}
.diagram:hover,
.diagram:has(~ .diagram.d4:hover) {
  cursor: pointer;
  box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0.3);
  height: calc(27rem * var(--content-scale));
  width: calc(27rem * var(--content-scale));
}
.diagram.d1:hover,
.diagram.d1:has(~ .diagram.d4:hover) {
  margin-top: calc(-1rem * var(--content-scale));
}
.diagram.d2:hover,
.diagram.d2:has(~ .diagram.d4:hover) {
  margin-top: calc(10rem * var(--content-scale));
}
.diagram.d3:hover,
.diagram.d3:has(~ .diagram.d4:hover) {
  margin-top: calc(10rem * var(--content-scale));
}


.diagram.d1 p {
  transition: 0.5s;
  margin-top: calc(5rem * var(--content-scale));
  font-size: calc(1.4rem * var(--content-scale));
}
.diagram.d1:hover p,
.diagram.d1:has(~ .diagram.d4:hover) > p {
  font-size: calc(1.6rem * var(--content-scale));
  margin-top: calc(4rem * var(--content-scale));
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.75);
}

.diagram.d2 p {
  transition: 0.5s;
  margin-top: calc(13rem * var(--content-scale));
  margin-left: calc(-8rem * var(--content-scale));
  font-size: calc(1.4rem * var(--content-scale));
}
.diagram.d2:hover p,
.diagram.d2:has(~ .diagram.d4:hover) > p {
  font-size: calc(1.6rem * var(--content-scale));
  margin-top: calc(15rem * var(--content-scale));
  margin-left: calc(-10rem * var(--content-scale));
  text-shadow: 1rem -1rem 2rem rgba(0, 0, 0, 0.75);
}
.diagram.d3 p {
  transition: 0.5s;
  margin-top: calc(13rem * var(--content-scale));
  margin-right: calc(-8rem * var(--content-scale));
  font-size: calc(1.4rem * var(--content-scale));
}
.diagram.d3:hover p,
.diagram.d3:has(~ .diagram.d4:hover) > p {
  font-size: calc(1.6rem * var(--content-scale));
  margin-top: calc(15rem * var(--content-scale));
  margin-right: calc(-10rem * var(--content-scale));
  text-shadow: -1rem -1rem 2rem rgba(0, 0, 0, 0.75);
}

.diagram.d4 {
  height: calc(12rem * var(--content-scale));
  width: calc(11rem * var(--content-scale));
  margin-top: calc(13rem * var(--content-scale));
  border-radius: 50% 50% 50% 50% / 67% 67% 33% 33% ;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  background-color: transparent;
}

.diagram.d4 p {
  margin-top: calc(1.5rem * var(--content-scale));
  transition: 0.5s;
  font-size: calc(1.4rem * var(--content-scale));
}
.diagram.d4:hover p {
  font-size: calc(1.6rem * var(--content-scale));
}


.discipline {
  background-color: rgba(0, 0, 0, 0.434);
  width: calc(18rem * var(--content-scale));
  height: fit-content;
  position: absolute;
  
  border-radius: calc(1.5rem * var(--content-scale));
  /* border: 1px solid var(--accent-color); */
  padding: calc(0.7rem * var(--content-scale)) calc(0.2rem * var(--content-scale));
}
.discipline p,
.discipline:has(~ .diagram.d4:hover) > p {
  font-size: calc(1.3rem * var(--content-scale)) !important;
  
  line-height: calc(1.4rem * var(--content-scale));
  white-space: pre-wrap;
}

.discipline.ds1 {
  margin-left: calc(40rem * var(--content-scale));
  margin-top: calc(0rem * var(--content-scale));
}
.discipline.ds1 p.dsp {
  margin-top: calc(0.2rem * var(--content-scale)) !important;
  margin-left: calc(1rem * var(--content-scale));
}

.discipline.ds2 {
  margin-left: calc(-42rem * var(--content-scale));
  margin-top: calc(2rem * var(--content-scale));
}
.discipline.ds2 p.dsp {
  margin-top: calc(0.2rem * var(--content-scale)) !important;
  margin-left: calc(1rem * var(--content-scale));
}

.discipline.ds3 {
  margin-left: calc(47rem * var(--content-scale));
  margin-top: calc(10rem * var(--content-scale));
}
.discipline.ds3 p.dsp {
  margin-top: calc(0.2rem * var(--content-scale)) !important;
  margin-left: calc(1rem * var(--content-scale));
}


.venn_text_container {
  margin-top: calc(40rem * var(--content-scale));
  height: fit-content;
  width: 32rem;
  /* background-color: red; */
  
}
.venn_text {
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.6);
}