:root {
  background-color: var(--background-color);
}
  .blur {
    backdrop-filter: blur(80px);
  }
  
  @keyframes rotate_full {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }
  
  .bg_circle {
    background-color: var(--secondary-accent-color);
  }
  .bg_circle.top-left {
    position: fixed;
    left: 0;
    top: 0;
    height: 25rem;
    width: 45rem;
    animation: rotate_full 30s linear infinite;
    border-radius: 50%;
    margin: -10rem 0 0 -15rem;
  }
  
  .bg_circle.top-right {
    position: fixed;
    right: 0;
    top: 0;
    height: 25rem;
    width: 35rem;
    animation: rotate_full 40s linear infinite;
    border-radius: 20%;
    margin: -10rem -3rem 0 0;
  }
  .navbar_cover {
    background-color: #161616;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 7rem;
  }
  
  /* .blur_overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
  } */
  
  /* .navbar {
    z-index: 1;
    height: 5rem;
    width: 100%;
    border-radius: 0 0 2rem 2rem;
    background-color: #2c2c2c98;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
  } */
  .with-anim {
    transition: 0.5s;
  }
  .blur_overlay {
    position: fixed;
    left: 0;
    top: 5rem;
    border-radius: 2rem 2rem 0 0;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.01);
  }
  .blur_overlay.collapsed{
    border-radius: 0;
    padding-top: 5rem;
    top: 0rem;
  }
  
  .navbar {
    transition: 0.5s;
    z-index: 1;
    height: 5rem;
    width: 100%;
    border-radius: 0 0 2rem 2rem;
    /* background-color: #2c2c2c98; */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    background-repeat: no-repeat;
    background-position: 0 -7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
  }
  .navbar.collapsed {
    transition: 0.5s;
    transition-delay: 0.1s;
    background-position: 0 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  }
  
  
  .logo {
    transition: 0.5s;
    height: 2.8rem;
    margin-left: 3rem;
    margin-top: 5px;
  }

  .links_container, .tabs, .tabs p, .tabs .icon {
      transition: 0.5s;
    }
  
  .links_container {
    background-color: rgba(168, 168, 168, 0.1);
    padding: 0.4rem 0.2rem;
    border-radius: 5rem;
    /* width: 28%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* opacity: 0.2; */
  }
  /* .links_container:hover {
    
  } */

  .navbar.collapsed > .links_container {
    margin-top: -9rem;
    background-color: rgba(60, 60, 60, 0.3);
    box-shadow: 0 0 1rem 0.2rem rgba(22,22,22,0.9);
    backdrop-filter: blur(1rem);
  }
  .navbar:hover > .links_container {
    margin-top: 0rem;
  }

  .selected_tab_indicator {
    transition: 0.5s;
    position: absolute;
    background-color: var(--accent-color);
    width: 14.2rem;
    height: calc(2.2rem + 4px);
    border-radius: 10rem;
    margin-left: 0.3rem;
  }
  .selected_tab_indicator:has(~ .tabs.tab2.active) {
    margin-left: calc(14.2rem + 0.9rem);
  }
  .selected_tab_indicator:has(~ .tabs.tab3.active) {
    margin-left: calc(28.4rem + 1.5rem);
  }

  .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(109, 109, 109, 0.1);
    border-radius: 10rem;
    padding: 2px 1.5rem 2px 1rem;
    width: 14.2rem;
    /* width: fit-content;/ */
    margin: 0 0.3rem;
    cursor: pointer;
    box-shadow: 0 0 5rem -3rem black;
  }
  .tabs .icon {
    fill: var(--text-color);
    min-height: 1.8rem;
    min-width: 1.8rem;
    margin: 0.2rem 0.5rem 0.2rem 0.2rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .tabs p {
    white-space: nowrap;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    color: var(--text-color);
    font-family: ProductSansBold;
    z-index: 1;
  }

  /* .tabs.active {
    background-color: var(--accent-color);
  } */
  .tabs.active p {
    color: var(--active-text-color);
  }
  .tabs.active .icon {
    /* background-color: #313131; */
    fill: var(--active-text-color);
  }

  

  
  .toggle_nav {
    transition: 0.5s;
    height: 2.4rem;
    width: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(109, 109, 109, 0.3);
    border-radius: 50px;
    margin-right: 3rem;
    cursor: pointer;
  }
  .toggle_nav .icon {
    transition: 0.5s;
    fill: var(--text-color);
    min-height: 0.9rem;
    min-width: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
  }
  .toggle_nav .icon.collapsed {
    transform: rotate(0deg);
  }
  

  /* .logo:has(~ .toggle_nav:active){
    transition: 0.5s;
    transform: rotate(360deg);
    transform-style: preserve-3d;
  } */
  
  
  .background_image_container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .background_image {
    position: fixed;
    background-image: url(../assets/images/3dprint2.jpg);
    width: 120vh;
    height: 50vh;
    background-size: cover;
    background-position: center;
    margin-top: 5rem;
    opacity: 0;
    border-radius: 10rem;
  }

  /* .background_image::after {
    display: block;
    position: relative;
    content: " ";
    height: 100%;
    background-color: rgba(24, 24, 24, 0.699);
  } */
  
  
  .content {
    display: flex;
    height: calc(90vh - 1.5rem);
    margin-top: 0rem;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .cards_container {
    height: calc(90vh - 1rem);
    min-width: 65vh;
    perspective: 16vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
  }
  .card {
    transition: 1s;
    position: absolute;
    height: 64vh;
    width: 38vh;
    border-radius: 6vh;
    border: #7E7E7E solid 0.4vh;
  }
  
  .card.c1 {
    background: url(../assets/images/hardwarecomputing2.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .card.c2 {
    background: url(../assets/images/3dprint2.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .card.c3 {
    background: url(../assets/images/codeblocks.png);
    background-size: cover;
    background-position: center;
  }
  
  .card.left {
    transform: translateX(-28vh) rotateY(-20deg) scale(70%);
    transform-style: preserve-3d;
    opacity: 40%;
    cursor: pointer;
  }
  
  .card.center {
    z-index: 1;
    opacity: 100%;
  }
  
  .card.right {
    transform: translateX(28vh) rotateY(20deg) scale(70%);
    transform-style: preserve-3d;
    /* z-index: 1; */
    opacity: 40%;
    cursor: pointer;
  }
  .page_indicator {
    height: 1rem;
    width: 28vh;
    /* background-color: rgba(0, 0, 0, 0.402); */
    margin-top: calc(64vh + 2.2rem);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .page {
    transition: 0.5s;
    height: 0.4rem;
    width: 0.4rem;
    background-color: rgba(255, 255, 255, 0.127);
    border-radius: 1rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
  .page.active {
    width: 6vh;
  }
  .page::after {
    transition: opacity 0.5s, width 0.5s linear;
    display: block;
    height: 100%;
    width: 0.4rem;
    content: " ";
    background-color: rgb(201, 201, 201);
    border-radius: 1rem;
    opacity: 0;
  }
  .page.active::after {
    transition: opacity 0.5s, width 5s linear;
    width: 100%;
    opacity: 1;
  }
  .page.active.reset::after {
    transition: opacity 0.5s, width 0.5s ease;
    width: 0.4rem;
    /* opacity: 0; */
  }
  
  /* .card_click {
    background-color: rgba(0, 0, 0, 0);
    height: 60vh;
    width: 10vh;
    cursor: pointer;
    z-index: 3;
  }
  .card_click.left {
    margin-right: auto;
    border-radius: 40% 5vh 5vh 40%;
  }
  .card_click.right {
    margin-left: auto;
    border-radius: 5vh 40% 40% 5vh;
  } */
  
  .card.left:hover, .card.right:hover {
    transition: 0.7s;
    opacity: 60%;
    box-shadow: white 0 0 8vh -3vh;
  }
  
  .text_content {
    /* margin: 2rem 0 0 2rem; */
    margin-left: 4rem;
    margin-right: 2rem;
    /* background-color: rgba(0, 0, 0, 0.253); */
    width: 105vh;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  h1.heading {
    transition: 0.5s;
    font-size: 10vh;
    color: var(--accent-color);
  }
  p.description {
    transition: 0.5s;
    font-size: 4vh;
    color: var(--text-color);
    margin-bottom: 2rem;
  }
  .read_more_btn {
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: ProductSansBold;
    width: fit-content;
    background-color: rgba(109, 109, 109,0.2);
    font-size: 1.2rem;
    border-radius: 2rem;
    padding: 0.3rem 1.5rem;
    margin-top: -1.2rem;
    cursor: pointer;
    color: #808080;
  }
  .read_more_btn:hover {
    border-radius: 0.8rem;
    background-color: rgba(109, 109, 109,0.4);
  }

  .read_more_btn .icon {
    fill: #808080;
    min-height: 0.9rem;
    min-width: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.8rem;
  }
  
  .content_bottom {
    height: fit-content;
    width: 100%;
    background-image: linear-gradient(to bottom, #1a1a1a00, #0000008c);
    display: flex;
    justify-content: center;
    padding-bottom: 8rem;
  }
  
  .what_is_container {
    margin-top: 6rem;
    height: fit-content;
    width: 80%;
    border-radius: 2rem;
    background-color: rgba(0,0,0,0.5);
    padding: 4rem;
    overflow: hidden;
  }
  .what_is_header {
    /* background-color: red; */
    width: 100%;
    /* height: 1rem; */
    display: flex;
    align-items: center;
    
  }
  .what_is_image {
    /* background-color: green; */
    min-height: 20rem;
    min-width: 20rem;
    border-radius: 59% 41% 69% 31% / 38% 36% 64% 62% ;
    background-size: contain;
    opacity: 0.65;
    filter: grayscale(30%);
    box-shadow: 0 0 2rem 1rem black;
    align-self: flex-start;
    background-position: 0 5px;
  }
  

  .what_is_avatar {
    /* background-color: green; */
    min-height: 13rem;
    min-width: 13rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-self: flex-start;
    margin-left: -9.5rem;
    margin-top: 8rem;
    filter: drop-shadow(#000 0 0 2rem);
  }
  .what_is_header_text {
    
    margin-left: 2rem;
  }
  h2.heading2 {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--accent-color);
    overflow: hidden;
    text-overflow: ellipsis;
    /* background-color: red; */
  }
  p.what_is_desc_brief {
    font-size: 1.3rem;
    color: var(--text-color);
    margin-bottom: 2rem;
    line-height: 2rem;
  }
  .what_is_article {
    height: fit-content;
    width: 100%;
    /* background-color: red; */
    margin-top: 1rem;
  }
  p.what_is_article_content {
    font-size: 1.3rem;
    color: var(--text-color);
    line-height: 2rem;
  }
  
  

  /* .footer {
    height: 10rem;
    width: 5rem;
    background-color: transparent;
  } */
  

  @media only screen and (max-width: 970px) {
    .tabs {
      padding: 2px 1rem 2px 1rem;
    }
    .tabs.active {
      background-color: var(--accent-color);
      width: 14rem;
    }
    .tabs.inactive {
      width: 4.2rem;
    }
    .tabs .icon {
      margin: 0.2rem;
    }
    .selected_tab_indicator {
      margin-left: 0;
      opacity: 0;
      z-index: -10;
      /* display: none; */
    }
    .selected_tab_indicator:has(~ .tabs.tab2.active) {
      margin-left: calc(4.2rem + 0.9rem);
    }
    .selected_tab_indicator:has(~ .tabs.tab3.active) {
      margin-left: calc(8.4rem + 1.5rem);
    }

    .navbar.collapsed:hover > .links_container {
      margin-top: -9rem;
    }

    .content {
      height: calc(50vw - 1.5rem);
      margin-top: 1.5rem;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    
    .cards_container {
      height: calc(45vw - 1rem);
      min-width: 40vw;
      perspective: 10vw;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 2rem;
      /* background-color: red; */
    }
    .card {
      transition: 0.7s;
      position: absolute;
      height: 40vw;
      width: 25vw;
      border-radius: 4vw;
      border: #7E7E7E solid 0.3vw;
    }
    
    .card.c1 {
      background-size: cover;
      background-position: center;
    }
    
    .card.c2 {
      background-size: cover;
      background-position: center;
    }
    
    .card.c3 {
      background-size: cover;
      background-position: center;
    }
    
    .card.left {
      transform: translateX(-18vw) rotateY(-20deg) scale(65%);
      transform-style: preserve-3d;
      opacity: 40%;
      cursor: pointer;
    }
    
    .card.center {
      z-index: 1;
      opacity: 100%;
    }
    
    .card.right {
      transform: translateX(18vw) rotateY(20deg) scale(65%);
      transform-style: preserve-3d;
      /* z-index: 1; */
      opacity: 40%;
      cursor: pointer;
    }
    .text_content {
      /* margin: 2rem 0 0 2rem; */
      margin-left: 4rem;
      margin-right: 2rem;
      /* background-color: rgba(0, 0, 0, 0.253); */
      width: 45vw;
      height: 20rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    h1.heading {
      font-size: 5vw;
    }
    p.description {
      font-family: ProductSans;
      font-size: 2vw;
      color: var(--text-color);
      margin-bottom: 2rem;
    }
  }
