@media only screen and (max-width: 700px) and (orientation: portrait) {
    
* {
  --content-scale: 0.4;
}
.main_content_layer {
  min-height: calc(10rem * var(--content-scale));
  margin-bottom: calc(15rem * var(--content-scale));
}

.dot_overlay {
  background-size: 1.5rem;
}
.grid_overlay {
  background-size: 1rem;
}









.photo_cards {
  --PC-scale: 0.5;
}
.content_layer.alt1 .gallery {
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 0rem;
}
.gallery .photo_cards {
  margin-bottom: 2rem;
  height: calc(32rem * var(--PC-scale));
  /* background-color: red; */
}
.photo_cards .project {
  height: calc(25rem * var(--PC-scale));
  width: calc(18rem * var(--PC-scale));
  margin-left: 2rem;
}
.photo_cards .p1,
.photo_cards:hover .p1.activeNo,
.photo_cards:hover .p1.activeNo:hover {
  z-index: 1;
  background-color: rgb(20, 20, 20);
  transform: rotate(-30deg) translate(calc(-5rem * var(--PC-scale)),calc(-4rem * var(--PC-scale)));
}
.photo_cards .p2,
.photo_cards:hover .p2.activeNo,
.photo_cards:hover .p2.activeNo:hover {
  z-index: 2;
  background-color: rgb(40, 40, 40);
  transform: rotate(-5deg) translate(calc(-1rem * var(--PC-scale)),calc(-1rem * var(--PC-scale)));
}
.photo_cards .p3,
.photo_cards:hover .p3.activeNo,
.photo_cards:hover .p3.activeNo:hover {
  z-index: 3;
  background-color: rgb(76, 76, 76);
  transform: rotate(18deg) translate(calc(3.5rem * var(--PC-scale)),0);
}

.photo_cards .p1.activePC2,
.photo_cards .p1.activePC3,
.photo_cards .p2.activePC1,
.photo_cards .p2.activePC3,
.photo_cards .p3.activePC1,
.photo_cards .p3.activePC2 {
  transform: rotate(0deg) translate(-1rem,0) scale(100%);
}
.photo_cards .p1.activePC1 {
  animation: photocard1-select 1.5s forwards;
}
.photo_cards .p2.activePC2 {
  animation: photocard2-select 1.5s forwards;
}
.photo_cards .p3.activePC3 {
  transform: rotate(0deg) translate(-1rem,0) scale(140%) !important;
}
.photo_cards .p1.activeNo.fromPC1 {
  animation: photocard1-deselect 0.9s none;
}
.photo_cards .p2.activeNo.fromPC2 {
  animation: photocard2-deselect 0.9s none;
}

.photo_cards .project:hover {
  box-shadow: 0 0 calc(5rem * var(--PC-scale)) calc(-2rem * var(--PC-scale)) black;
}






@keyframes photocard1-select{
  0% {
    transform: rotate(-30deg) translate(calc(-5rem * var(--PC-scale)),calc(-4rem * var(--PC-scale)));
  }
  20% {
    transform: rotate(-15deg) translate(calc(-5rem * var(--PC-scale)),calc(-28rem * var(--PC-scale)));
  }
  45% {
    z-index: 4;
  }
  70%, 100% {
    z-index: 4;
    transform: rotate(0deg) translate(-1rem,0) scale(140%);
  }
}
@keyframes photocard2-select{
  0% {
    transform: rotate(-5deg) translate(calc(-1rem * var(--PC-scale)),calc(-1rem * var(--PC-scale)));
  }
  20% {
    transform: rotate(0deg) translate(calc(-1rem * var(--PC-scale)),calc(-26rem * var(--PC-scale)));
  }
  45% {
    z-index: 4;
  }
  70%, 100% {
    z-index: 4;
    transform: rotate(0deg) translate(-1rem,0) scale(140%);
  }
}

@keyframes photocard1-deselect{
  0% {
    z-index: 4;
    transform: rotate(0deg) translate(-1rem,0) scale(140%);
  }
  40% {
    z-index: 4;
    transform: rotate(-15deg) translate(calc(-5rem * var(--PC-scale)),calc(-28rem * var(--PC-scale)));
  }
  50% {
    z-index: 1;
  }
  80% {
    transform: rotate(-30deg) translate(calc(-5rem * var(--PC-scale)),calc(-4rem * var(--PC-scale)));
  }
}
@keyframes photocard2-deselect{
  0% {
    z-index: 4;
    transform: rotate(0deg) translate(-1rem,0) scale(140%);
  }
  40% {
    z-index: 4;
    transform: rotate(0deg) translate(calc(-1rem * var(--PC-scale)),calc(-26rem * var(--PC-scale)));
  }
  50% {
    z-index: 2;
  }
  80% {
    transform: rotate(-5deg) translate(calc(-1rem * var(--PC-scale)),calc(-1rem * var(--PC-scale)));
  }
}

*{
  --bph: calc(30rem * var(--content-scale));
  --bpw: calc(57rem * var(--content-scale));
}
.content_layer .big_particles {
  position: absolute;
  height: var(--bph);
  width: var(--bpw);
  /* align-self: flex-end; */
  /* background-color: rgba(194, 10, 10, 0.685); */
  display: flex;
  margin-left: calc(20rem * var(--content-scale));
  align-items: flex-end;
  fill: var(--accent-color);
  opacity: 0.15;
}





.venn_container {
  position: relative;
  width: 100vw;
  height: fit-content;
  min-height: auto;
  /* background-color: rgba(255, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: calc(15rem * var(--content-scale));
  padding: 0 10vw 0 10vw;
}
.venn_container .background_overlay {
  opacity: 0.3;
}
.diagram {
  position: absolute;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.462);
  height: 12rem;
  width: 12rem;
  /* opacity: 0.5; */
  border-radius: 50%;
  /* border: 1px solid var(--accent-color); */
  mix-blend-mode:screen;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  white-space: pre-wrap;
}
.diagram.d1 {
  background-color: #612401;
}
.diagram.d2 {
  background-color:  #012b61;
  margin-left: -7rem;
  margin-top: 6rem;
}
.diagram.d3 {
  background-color:  #2a195b;
  margin-left: 7rem;
  margin-top: 6rem;
}
.diagram:hover,
.diagram:has(~ .diagram.d4:hover) {
  cursor: pointer;
  box-shadow: 0 0 0 0 transparent;
  height: 13.5rem;
  width: 13.5rem;
}
.diagram.d1:hover,
.diagram.d1:has(~ .diagram.d4:hover) {
  margin-top: -0.75rem;
}
.diagram.d2:hover,
.diagram.d2:has(~ .diagram.d4:hover) {
  margin-top: 5.25rem;
}
.diagram.d3:hover,
.diagram.d3:has(~ .diagram.d4:hover) {
  margin-top: 5.25rem;
}


.diagram.d1 p {
  transition: 0.5s;
  margin-top: 2.5rem;
  font-size: 0.9rem;
}
.diagram.d1:hover p,
.diagram.d1:has(~ .diagram.d4:hover) > p {
  font-size: 1.0rem;
  margin-top: 2.5rem;
  text-shadow: 0 0 0 transparent;
}

.diagram.d2 p {
  transition: 0.5s;
  margin-top: 5.5rem;
  margin-left: -4rem;
  font-size: 0.9rem;
}
.diagram.d2:hover p,
.diagram.d2:has(~ .diagram.d4:hover) > p {
  font-size: 1.0rem;
  margin-top: 6.5rem;
  margin-left: -5rem;
  text-shadow: 0 0 0 transparent;
}
.diagram.d3 p {
  transition: 0.5s;
  margin-top: 5.5rem;
  margin-right: -4rem;
  font-size: 0.9rem;
}
.diagram.d3:hover p,
.diagram.d3:has(~ .diagram.d4:hover) > p {
  font-size: 1.0rem;
  margin-top: 6.5rem;
  margin-right: -5rem;
  text-shadow: 0 0 0 transparent;
}

.diagram.d4 {
  height: 5rem;
  width: 5rem;
  margin-top: 7rem;
  border-radius: 50% 50% 50% 50% / 67% 67% 33% 33% ;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  background-color: transparent;
}

.diagram.d4 p {
  margin-top: 1.2rem;
  transition: 0.5s;
  font-size: 0.9rem;
}
.diagram.d4:hover p {
  font-size: 1.1rem;
}


.discipline {
  pointer-events: none;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.434);
  width: 15.5rem;
  height: fit-content;
  position: absolute;
  
  border-radius: 1.5rem;
  border: 1px solid var(--accent-color);
  padding: 0.7rem 0.2rem;
  opacity: 0;
  transform: scale(80%);
}
.discipline p,
.discipline:has(~ .diagram.d4:hover) > p {
  font-size: 1rem !important;
  margin-top: 0.2rem !important;
  margin-left: 1rem;
  line-height: 1rem;
  white-space: pre-wrap;
}

.discipline.ds1 {
  margin-left: 0rem;
  margin-top: 21rem;
}
.discipline.ds1 p.dsp {
  margin-top: 0.2rem !important;
  margin-left: 1rem;
}
.discipline.ds2 {
  margin-left: 7rem;
  margin-top: 15rem;
}
.discipline.ds2 p.dsp {
  margin-top: 0.2rem !important;
  margin-left: 1rem;
}

.discipline.ds3 {
  margin-left: -7rem;
  margin-top: 15rem;
}
.discipline.ds3 p.dsp {
  margin-top: 0.2rem !important;
  margin-left: 1rem;
}

.diagram:hover > .discipline {
  opacity: 1;
  transform: scale(100%);
}
.diagram:hover > .discipline.ds2,
.diagram:hover > .discipline.ds3 {
  margin-top: 15.75rem;
}
.diagram:hover > .discipline.ds1 {
  margin-top: 21.75rem;
}

.diagram:hover ~ .diagram:not(:hover),
.diagram:not(:hover):has(~ .diagram:hover) {
  opacity: 0.8;
}


.venn_text_container {
  transition: 0.4s;
  margin-top: calc(50rem * var(--content-scale));
  margin-bottom: -2rem;
  height: fit-content;
  width: auto;
  /* background-color: red; */
}
.venn_text {
  text-align: left;
  margin-top: 1rem;
}
.diagram:hover ~ .venn_text_container {
  margin-top: calc(68rem * var(--content-scale));
}
.diagram:hover + .venn_text_container {
  margin-top: calc(50rem * var(--content-scale));
}

  
  }
