@media only screen and (max-width: 700px) and (orientation: portrait) {
    .content {
      flex-direction: column;
      height: fit-content;
      justify-content: flex-start;
      width: 90%;
      margin: 0rem auto 0 auto;
      /* background-color: red; */

    }
    .cards_container {
      min-height: 85vw;
      min-width: 88vw;
      perspective: 24vw;
      margin-left: 0;
      margin-top: 0;
      /* background-color: black; */
    }
  
    .card {
      transition: transform 0.7s, opacity 0.7s, background 0.1s;
      height: 80vw;
      width: 50vw;
      border-radius: 8vw;
      border: #7E7E7E solid 2px;
    }
    
    .card.left {
      transform: translateX(-38vw) rotateY(-20deg) scale(70%);
    }
    
    
    .card.right {
      transform: translateX(38vw) rotateY(20deg) scale(70%);
    }

    .page_indicator {
      height: 4vw;
      width: 22vw;
      margin-top: 92vw;
      border-radius: 3vw;
    }
    .page {
      height: 1.6vw;
      width: 1.6vw;
      border-radius: 1rem;
      margin-left: 0.5vw;
      margin-right: 0.5vw;
    }
    .page.active {
      width: 7vw;
    }
    .page::after {
      width: 1.6vw;
      border-radius: 1rem;
    }
    .page.active.reset::after {
      width: 1.6vw;
    }





  
    .text_content {
      margin-top: 8vw;
      margin-left: auto;
      margin-right: auto ;
      width: 80vw;
      height: fit-content;
      align-items: center;
      justify-content: flex-start;
      text-align: center;
      /* background-color: red; */
      margin-top: 4rem;
    }
  
    h1.heading {
      font-size: 2.8rem;
      line-height: 3rem;
    }
    p.description {
      font-size: 1rem;
      margin-top: 0.5rem;
      margin-bottom: 2.5rem;
    }


  

    .content_bottom {
      height: fit-content;
      width: 100%;
      /* background-image: linear-gradient(to bottom, #1a1a1a00, #0000008c); */
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 10rem;
      padding-top: 2rem;
    }
    
    .divider {
      height: 30vw !important;
    }
    .read_more_btn.proceed {
      margin-top: 0rem;
    }
    





* {
  --content-scale: 0.4;
}
.main_content_layer {
  position: relative;
  width: 100vw;
  height: fit-content;
  min-height: calc(10rem * var(--content-scale));
  /* background-color: rgba(255, 0, 0, 0.05); */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: calc(15rem * var(--content-scale));
  padding: 0 10vw 0 10vw;
}
.main_content_layer .background_layer {
  position: absolute;
  z-index: -1;
  width: calc(72rem * var(--content-scale));
  height: calc(38rem * var(--content-scale));
  overflow: hidden;
  mask-image: url(../assets/images/softedgemask.png);
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  opacity: 0.3;
  display: flex;
  /* background-color: red; */
}
.main_content_layer .background_overlay {
  position: absolute;
  z-index: -1;
  width: 100vw;
  /* height: 100%; */
  top: calc(-20rem * var(--content-scale));
  left: 0;
  bottom: calc(-20rem * var(--content-scale));
  overflow: hidden;
  mask-image: url(../assets/images/softedgemask.png);
  mask-size: 120% 100%;
  mask-position: 50% 0;
  mask-repeat: no-repeat;
  opacity: 0.3;
  display: flex;
  justify-self: flex-end;
  /* background-color: red; */
}
.background_layer img.bg_image {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
}

/* .background_layer img.overlay {
  position: absolute;;
  width: 130%;
  height: auto;
  z-index: 1;

} */

.dot_overlay {
  height: 100%;
  width: 100%;
  background-image: url(../assets/images/dot.png);
  background-repeat: repeat;
  position: absolute;
  background-size: 1.5rem;
}
.grid_overlay {
  height: 100%;
  width: 100%;
  background-image: url(../assets/images/grid.png);
  background-repeat: repeat;
  position: absolute;
  background-size: 2rem;
}


.main_content_layer .content_layer {
  /* background-color: rgba(0, 128, 0, 0.288); */
  max-width: calc(72rem * var(--content-scale));
  height: fit-content;
  min-height: calc(10rem * var(--content-scale));
  display: flex;
  flex-direction: column;
}
.content_layer .icon_holder {
  height: calc(12rem * var(--content-scale));
  width: calc(12rem * var(--content-scale));
  background-color: #1E1E1E;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: calc(3rem * var(--content-scale));
  margin-top: calc(6rem * var(--content-scale));
  margin-bottom: calc(2.4rem * var(--content-scale));
  box-shadow: 0 0 4vw -0.8vw var(--accent-color);
}
.content_layer.alt .icon_holder {
  height: calc(12rem * var(--content-scale));
  width: calc(12rem * var(--content-scale));
  background-color: #1E1E1E;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: calc(3rem * var(--content-scale));
  margin-top: calc(6rem * var(--content-scale));
  margin-bottom: calc(2.4rem * var(--content-scale));
  box-shadow: 0 0 4vw -0.8vw var(--accent-color);
  align-self: center;
}
.icon_holder .icon {
  fill: var(--accent-color);
  height: calc(7.8rem * var(--content-scale));
  width: calc(7.8rem * var(--content-scale));
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon_particles {
  position: absolute;
  /* background-color: rgba(255, 0, 0, 0.226); */
  fill: var(--accent-color);
  width: calc(21.6rem * var(--content-scale));
  margin-left: calc(-4.8rem * var(--content-scale));
  margin-top: calc(-4.5rem * var(--content-scale));
  opacity: 0.4;
}
.content_layer.alt .icon_particles {
  position: absolute;
  /* background-color: rgba(255, 0, 0, 0.226); */
  fill: var(--accent-color);
  width: calc(21.6rem * var(--content-scale));
  margin-left: 0;
  align-self: center;
  margin-top: calc(-4.5rem * var(--content-scale));
  opacity: 0.4;
}
.content_layer p.title {
  margin-bottom: calc(1.5rem * var(--content-scale));
  font-size: calc(4.8rem * var(--content-scale));
  line-height: calc(5.2rem * var(--content-scale));
  white-space: normal;
}
.content_layer.alt p.title {
  margin-bottom: calc(1.5rem * var(--content-scale));
  font-size: calc(4.8rem * var(--content-scale));
  line-height: calc(5.2rem * var(--content-scale));
  white-space: pre-wrap;
  text-align: center;
}
.content_layer p.body {
  font-size: calc(2.6rem * var(--content-scale));
  margin-left: calc(0.5rem * var(--content-scale));
  margin-right: calc(0.5rem * var(--content-scale));
  white-space: pre-wrap;
}
.gallery p.body.alt1 {
  font-size: calc(2.6rem * var(--content-scale));
  margin-left: calc(0.5rem * var(--content-scale));
  margin-right: calc(0.5rem * var(--content-scale));
  white-space: pre-wrap;
}

* {
  --PC-scale: 0.5;
}
.content_layer.alt1 .gallery {
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 0rem;
}
.gallery .photo_cards {
  margin-bottom: 2rem;
  height: calc(32rem * var(--PC-scale));
  /* background-color: red; */
}
.photo_cards .project {
  height: calc(25rem * var(--PC-scale));
  width: calc(18rem * var(--PC-scale));
  margin-left: 2rem;
}
.photo_cards .p1,
.photo_cards:hover .p1.activeNo,
.photo_cards:hover .p1.activeNo:hover {
  z-index: 1;
  background-color: rgb(20, 20, 20);
  transform: rotate(-30deg) translate(calc(-5rem * var(--PC-scale)),calc(-4rem * var(--PC-scale)));
}
.photo_cards .p2,
.photo_cards:hover .p2.activeNo,
.photo_cards:hover .p2.activeNo:hover {
  z-index: 2;
  background-color: rgb(40, 40, 40);
  transform: rotate(-5deg) translate(calc(-1rem * var(--PC-scale)),calc(-1rem * var(--PC-scale)));
}
.photo_cards .p3,
.photo_cards:hover .p3.activeNo,
.photo_cards:hover .p3.activeNo:hover {
  z-index: 3;
  background-color: rgb(76, 76, 76);
  transform: rotate(18deg) translate(calc(3.5rem * var(--PC-scale)),0);
}

.photo_cards .p1.activePC2,
.photo_cards .p1.activePC3,
.photo_cards .p2.activePC1,
.photo_cards .p2.activePC3,
.photo_cards .p3.activePC1,
.photo_cards .p3.activePC2 {
  transform: rotate(0deg) translate(-1rem,0) scale(100%);
}
.photo_cards .p1.activePC1 {
  animation: photocard1-select 1.5s forwards;
}
.photo_cards .p2.activePC2 {
  animation: photocard2-select 1.5s forwards;
}
.photo_cards .p3.activePC3 {
  transform: rotate(0deg) translate(-1rem,0) scale(140%) !important;
}
.photo_cards .p1.activeNo.fromPC1 {
  animation: photocard1-deselect 0.9s none;
}
.photo_cards .p2.activeNo.fromPC2 {
  animation: photocard2-deselect 0.9s none;
}

.photo_cards .project:hover {
  box-shadow: 0 0 calc(5rem * var(--PC-scale)) calc(-2rem * var(--PC-scale)) black;
}






@keyframes photocard1-select{
  0% {
    transform: rotate(-30deg) translate(calc(-5rem * var(--PC-scale)),calc(-4rem * var(--PC-scale)));
  }
  20% {
    transform: rotate(-15deg) translate(calc(-5rem * var(--PC-scale)),calc(-28rem * var(--PC-scale)));
  }
  45% {
    z-index: 4;
  }
  70%, 100% {
    z-index: 4;
    transform: rotate(0deg) translate(-1rem,0) scale(140%);
  }
}
@keyframes photocard2-select{
  0% {
    transform: rotate(-5deg) translate(calc(-1rem * var(--PC-scale)),calc(-1rem * var(--PC-scale)));
  }
  20% {
    transform: rotate(0deg) translate(calc(-1rem * var(--PC-scale)),calc(-26rem * var(--PC-scale)));
  }
  45% {
    z-index: 4;
  }
  70%, 100% {
    z-index: 4;
    transform: rotate(0deg) translate(-1rem,0) scale(140%);
  }
}

@keyframes photocard1-deselect{
  0% {
    z-index: 4;
    transform: rotate(0deg) translate(-1rem,0) scale(140%);
  }
  40% {
    z-index: 4;
    transform: rotate(-15deg) translate(calc(-5rem * var(--PC-scale)),calc(-28rem * var(--PC-scale)));
  }
  50% {
    z-index: 1;
  }
  80% {
    transform: rotate(-30deg) translate(calc(-5rem * var(--PC-scale)),calc(-4rem * var(--PC-scale)));
  }
}
@keyframes photocard2-deselect{
  0% {
    z-index: 4;
    transform: rotate(0deg) translate(-1rem,0) scale(140%);
  }
  40% {
    z-index: 4;
    transform: rotate(0deg) translate(calc(-1rem * var(--PC-scale)),calc(-26rem * var(--PC-scale)));
  }
  50% {
    z-index: 2;
  }
  80% {
    transform: rotate(-5deg) translate(calc(-1rem * var(--PC-scale)),calc(-1rem * var(--PC-scale)));
  }
}

*{
  --bph: calc(30rem * var(--content-scale));
  --bpw: calc(57rem * var(--content-scale));
}
.content_layer .big_particles {
  position: absolute;
  height: var(--bph);
  width: var(--bpw);
  /* align-self: flex-end; */
  /* background-color: rgba(194, 10, 10, 0.685); */
  display: flex;
  margin-left: calc(20rem * var(--content-scale));
  align-items: flex-end;
  fill: var(--accent-color);
  opacity: 0.15;
}

.main_content_layer .video_card {
  min-height: calc(20rem * var(--content-scale));
  height: fit-content;
  width: calc(45rem * var(--content-scale));
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: calc(3rem * var(--content-scale));
  display: flex;
  flex-direction: column-reverse;
  padding: calc(2rem * var(--content-scale));
  border: 1px solid var(--accent-color);
  box-shadow: 0 0 5rem -3rem var(--accent-color);
  padding-bottom: 1.5rem;
}
.video_card .video_container {
  position: relative;
  background-color: rgb(0, 0, 0);
  border-radius: calc(1.5rem * var(--content-scale));
  min-width: calc(calc(2.5rem * var(--content-scale)) * 16);
  min-height: calc(calc(2.5rem * var(--content-scale)) * 9);
  max-width: calc(calc(2.5rem * var(--content-scale)) * 16);
  max-height: calc(calc(2.5rem * var(--content-scale)) * 9);
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 0 4rem -1rem black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}
.video_card .text_side {
  /* background-color: red; */
  height: fit-content;
  min-height: calc(calc(2rem * var(--content-scale)) * 9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1rem;
  padding-left: 1rem;
  gap: calc(0.8rem * var(--content-scale));
}
.text_side .icon {
  fill: var(--accent-color);
  height: calc(5rem * var(--content-scale));
  width: calc(5rem * var(--content-scale));
  margin-top: 1rem;
}
.text_side p.title {
  font-size: calc(4.8rem * var(--content-scale));
  white-space: normal;
  line-height: calc(4.8rem * var(--content-scale));
}
.text_side p.body {
  font-size: calc(2.6rem * var(--content-scale));
  line-height: calc(3rem * var(--content-scale));
  margin-bottom: 1rem;
}

  
  }
