@media only screen and (max-width: 1250px) and (max-aspect-ratio: 5/3) {
  
  .content {
    height: fit-content;
    /* min-height: 50rem; */
    flex-direction: column;
    /* background-color: rgba(255, 0, 0, 0.278); */
    padding: 3rem 1rem 0 1rem;
    /* margin-top: 2rem; */
  }
  
  .cards_container {
    height: 20rem;
    perspective: 9rem;
    margin-left: 0;
    /* background-color: blue; */
  }
  .card {
    transition: transform 0.7s, opacity 0.7s, background 0.1s;
    height: 20rem;
    width: 23rem;
  }
  
  .card.left {
    transform: translateX(-15.5rem) rotateY(-20deg) scale(60%);
  }
  
  .card.right {
    transform: translateX(15.5rem) rotateY(20deg) scale(60%);
  }
  .page_indicator {
    position: absolute;
    margin-top: 23rem;
    border-radius: 2rem;
  }
  .page {
    margin-left: 2px;
    margin-right: 2px;
  }
  .text_content {
    margin-left: 0;
    margin-right: 0;
    margin-top: 4rem;
    width: 70vw;
    height: fit-content;
    justify-content: flex-start;
    /* background-color: red; */
  }
  
  h1.heading {
    text-align: center;
    font-size: 4rem;
    line-height: 4rem;
  }
  p.description {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2.5vw;
    margin-top: 0.5vw;
  }
  .read_more_btn {
    align-self: center;
  }
  .read_more_btn:hover {
    opacity: 1;
  }
  .read_more_btn:active {
    transition: opacity 0.2s;
    opacity: 0.5;
  }


  .content_layer.alt1 .gallery {
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 0rem;
  }
  .gallery .photo_cards {
    margin-bottom: 2rem;
    /* background-color: red; */
  }
  .photo_cards .project {
    height: calc(25rem * var(--content-scale));
    width: calc(18rem * var(--content-scale));
    margin-left: 2rem;
  }
  .photo_cards .p1,
  .photo_cards:hover .p1.activeNo,
  .photo_cards:hover .p1.activeNo:hover {
    z-index: 1;
    background-color: rgb(20, 20, 20);
    transform: rotate(-30deg) translate(calc(-5rem * var(--content-scale)),calc(-4rem * var(--content-scale)));
  }
  .photo_cards .p2,
  .photo_cards:hover .p2.activeNo,
  .photo_cards:hover .p2.activeNo:hover {
    z-index: 2;
    background-color: rgb(40, 40, 40);
    transform: rotate(-5deg) translate(calc(-1rem * var(--content-scale)),calc(-1rem * var(--content-scale)));
  }
  .photo_cards .p3,
  .photo_cards:hover .p3.activeNo,
  .photo_cards:hover .p3.activeNo:hover {
    z-index: 3;
    background-color: rgb(76, 76, 76);
    transform: rotate(18deg) translate(calc(3.5rem * var(--content-scale)),0);
  }
  
  .photo_cards .p1.activePC2,
  .photo_cards .p1.activePC3,
  .photo_cards .p2.activePC1,
  .photo_cards .p2.activePC3,
  .photo_cards .p3.activePC1,
  .photo_cards .p3.activePC2 {
    transform: rotate(0deg) translate(-1rem,0) scale(100%);
  }
  .photo_cards .p1.activePC1 {
    animation: photocard1-select 1.5s forwards;
  }
  .photo_cards .p2.activePC2 {
    animation: photocard2-select 1.5s forwards;
  }
  .photo_cards .p3.activePC3 {
    transform: rotate(0deg) translate(-1rem,0) scale(120%) !important;
  }
  .photo_cards .p1.activeNo.fromPC1 {
    animation: photocard1-deselect 0.9s none;
  }
  .photo_cards .p2.activeNo.fromPC2 {
    animation: photocard2-deselect 0.9s none;
  }
  
  .photo_cards .project:hover {
    box-shadow: 0 0 calc(5rem * var(--content-scale)) calc(-2rem * var(--content-scale)) black;
  }
  
  
  
  
  
  
  @keyframes photocard1-select{
    0% {
      transform: rotate(-30deg) translate(calc(-5rem * var(--content-scale)),calc(-4rem * var(--content-scale)));
    }
    20% {
      transform: rotate(-15deg) translate(calc(-5rem * var(--content-scale)),calc(-28rem * var(--content-scale)));
    }
    45% {
      z-index: 4;
    }
    70%, 100% {
      z-index: 4;
      transform: rotate(0deg) translate(-1rem,0) scale(120%);
    }
  }
  @keyframes photocard2-select{
    0% {
      transform: rotate(-5deg) translate(calc(-1rem * var(--content-scale)),calc(-1rem * var(--content-scale)));
    }
    20% {
      transform: rotate(0deg) translate(calc(-1rem * var(--content-scale)),calc(-26rem * var(--content-scale)));
    }
    45% {
      z-index: 4;
    }
    70%, 100% {
      z-index: 4;
      transform: rotate(0deg) translate(-1rem,0) scale(120%);
    }
  }
  
  @keyframes photocard1-deselect{
    0% {
      z-index: 4;
      transform: rotate(0deg) translate(-1rem,0) scale(120%);
    }
    40% {
      z-index: 4;
      transform: rotate(-15deg) translate(calc(-5rem * var(--content-scale)),calc(-28rem * var(--content-scale)));
    }
    50% {
      z-index: 1;
    }
    80% {
      transform: rotate(-30deg) translate(calc(-5rem * var(--content-scale)),calc(-4rem * var(--content-scale)));
    }
  }
  @keyframes photocard2-deselect{
    0% {
      z-index: 4;
      transform: rotate(0deg) translate(-1rem,0) scale(120%);
    }
    40% {
      z-index: 4;
      transform: rotate(0deg) translate(calc(-1rem * var(--content-scale)),calc(-26rem * var(--content-scale)));
    }
    50% {
      z-index: 2;
    }
    80% {
      transform: rotate(-5deg) translate(calc(-1rem * var(--content-scale)),calc(-1rem * var(--content-scale)));
    }
  }

  .main_content_layer .video_card {
    min-height: calc(20rem * var(--content-scale));
    height: fit-content;
    width: calc(45rem * var(--content-scale));
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: calc(3rem * var(--content-scale));
    display: flex;
    flex-direction: column-reverse;
    padding: calc(2rem * var(--content-scale));
    border: 1px solid var(--accent-color);
    box-shadow: 0 0 5rem -3rem var(--accent-color);
    padding-bottom: 2rem;
  }
  .video_card .video_container {
    position: relative;
    background-color: rgb(0, 0, 0);
    border-radius: calc(1.5rem * var(--content-scale));
    min-width: calc(calc(2.5rem * var(--content-scale)) * 16);
    min-height: calc(calc(2.5rem * var(--content-scale)) * 9);
    max-width: calc(calc(2.5rem * var(--content-scale)) * 16);
    max-height: calc(calc(2.5rem * var(--content-scale)) * 9);
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0 4rem -1rem black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
  }
  .video_card .text_side {
    /* background-color: red; */
    height: fit-content;
    min-height: calc(calc(2rem * var(--content-scale)) * 9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 2rem;
    padding-left: 2rem;
    gap: calc(0.8rem * var(--content-scale));
  }
  .text_side .icon {
    fill: var(--accent-color);
    height: calc(5rem * var(--content-scale));
    width: calc(5rem * var(--content-scale));
  }
  .text_side p.title {
    font-size: calc(2.5rem * var(--content-scale));
    white-space: normal;
    line-height: calc(2.5rem * var(--content-scale));
  }
  .text_side p.body {
    font-size: calc(1.5rem * var(--content-scale));
  }
  
}

@media only screen and (max-width: 990px) and (max-aspect-ratio: 4/3) {
  .what_is_container {
    height: fit-content;
    max-width: 80vw;
    border-radius: 3rem;
    /* background-color: #0000004d; */
    /* background-color: red; */
    padding: 0 0 4.7vw 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
  }
  
} 