@media only screen and (max-width: 1250px) and (max-aspect-ratio: 5/3) {
  
  .content {
    height: fit-content;
    flex-direction: column;
    /* background-color: rgba(255, 0, 0, 0.278); */
    padding: 0 1rem 0 1rem;
    /* margin-top: 0; */
  }
  
  .cards_container {
    height: 20rem;
    perspective: 9rem;
    margin-left: 0;
    /* background-color: blue; */
  }
  .card {
    transition: 0.7s;
    height: 20rem;
    width: 23rem;
  }
  
  .card.left {
    transform: translateX(-15.5rem) rotateY(-20deg) scale(60%);
  }
  
  .card.right {
    transform: translateX(15.5rem) rotateY(20deg) scale(60%);
  }
  .page_indicator {
    position: absolute;
    margin-top: 23rem;
    border-radius: 2rem;
  }
  .page {
    margin-left: 2px;
    margin-right: 2px;
  }
  .text_content {
    margin-left: 0;
    margin-right: 0;
    margin-top: 4rem;
    width: 70vw;
    height: fit-content;
    justify-content: flex-start;
    /* background-color: red; */
  }
  
  h1.heading {
    text-align: center;
    font-size: 4rem;
    line-height: 4rem;
  }
  p.description {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2.5vw;
    margin-top: 0.5vw;
  }
  .read_more_btn {
    align-self: center;
  }
}

@media only screen and (max-width: 990px) and (max-aspect-ratio: 4/3) {
  .what_is_container {
    height: fit-content;
    max-width: 80vw;
    border-radius: 3rem;
    /* background-color: #0000004d; */
    /* background-color: red; */
    padding: 0 0 4.7vw 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
  }
  
} 