*{
    margin:0;
    box-sizing: border-box;
    padding: 0;
  }
*{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
::-webkit-scrollbar {
    display: none;
}


/* ::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); 
  border-radius: 10px;
  border: rgb(78, 78, 78) solid 1px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.8); 
} */