@import url(../assets/fonts/font-import.css);

.textAlign-justify {
    text-align: justify;
    text-justify: inter-word;
}
.textAlign-center {
    text-align: center;
}
.font-regular {
    font-family: ProductSans;
}
.font-heavy {
    font-family: ProductSansBlack;
}
.font-bold {
    font-family: ProductSansBold;
}
.font-light {
    font-family: ProductSansLight;
}
.font-thin {
    font-family: ProductSansThin;
}
.font-icon {
    font-family: icons;
}
.fontColor-accent {
    color: var(--accent-color)
}
.fontColor-normal {
    color: #9E9E9E
}
.fontColor-focused {
    color: #C6C6C6
}

#body_root {
    position: relative;
    height: 100dvh;
    width: 100dvw;
    background-color: #161616;
    overflow: hidden;
}
#body_root p{
    white-space: pre-wrap;
}
#orb_purple {
    position: absolute;
    height: 52dvh;
    width: 52dvh;
    border-radius: 73% 27% 61% 39% / 36% 45% 55% 64% ;
    background-color: #201947;
    left: 20dvw;
    top: 20dvh;
}
#orb_blue {
    position: absolute;
    height: 42dvh;
    width: 42dvh;
    border-radius: 47% 53% 61% 39% / 67% 71% 29% 33% ;
    background-color: #143451;
    right: 20dvw;
    top: 35dvh;
}
#orb_orange {
    position: absolute;
    height: 32dvh;
    width: 36dvh;
    border-radius: 77% 23% 35% 65% / 45% 23% 77% 55% ;
    background-color: #472B11;
    left: 42dvw;
    top: 50dvh;
}
.main_blur_overlay {
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.038);
    /* background-color: red; */
    backdrop-filter: blur(80px);
    display: flex;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
}


.logo_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 23rem;
    min-width: 30rem;
    margin-top: 3rem;
    /* background-color: red; */
}
.logo_container .logo {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    /* background-color: blue; */
}

.overlay_mask {
    position: absolute;
    z-index: -1;
    width: 100dvw;
    /* height: 100%; */
    top: calc(-10rem * var(--content-scale));
    left: 0;
    bottom: calc(-10rem * var(--content-scale));
    overflow: hidden;
    mask-image: url(../assets/images/softedgemask.png);
    mask-size: 120% 100%;
    mask-position: 50% 0;
    mask-repeat: no-repeat;
    opacity: 0.3;
    display: flex;
    justify-self: flex-end;
    /* background-color: red; */
  }
  .overlay_mask .dot_overlay {
    height: 100%;
    width: 100%;
    background-image: url(../assets/images/dot.png);
    background-repeat: repeat;
    position: absolute;
    background-size: 1.8rem;
    opacity: 0.8;
  }
  .overlay_mask .grid_overlay {
    height: 100%;
    width: 100%;
    background-image: url(../assets/images/grid.png);
    background-repeat: repeat;
    position: absolute;
    background-size: 2.5rem;
    opacity: 0.3;
  }


  p.greeting {
    margin-top: 1rem;
    font-size: 1.3rem;
  }
  p.greeting-heavy {
    margin-top: 0.3rem;
    font-size: 1.5rem;
  }

.lower-curl {
    --csize: 30px;
    --p: 75px;
    --R: 80.77px /*sqrt(var(--csize)*var(--csize) + var(--p)*var(--p))*/;
    --dir: top;
    
      -webkit-mask:
      radial-gradient(var(--R) at left 50% var(--d,var(--dir)) calc(var(--csize) + var(--p)),#000 99%,#0000 101%) calc(50% - 2*var(--csize)) 0/calc(4*var(--csize)) 100%,
      radial-gradient(var(--R) at left 50% var(--d,var(--dir)) calc(-1*var(--p)),#0000 99%,#000 101%) 
                                  left 50% var(--d,var(--dir)) var(--csize)/calc(4*var(--csize)) 100% repeat-x;
      mask:
      radial-gradient(var(--R) at left 50% var(--d,var(--dir)) calc(var(--csize) + var(--p)),#000 99%,#0000 101%) calc(50% - 2*var(--csize)) 0/calc(4*var(--csize)) 100%,
      radial-gradient(var(--R) at left 50% var(--d,var(--dir)) calc(-1*var(--p)),#0000 99%,#000 101%) 
                                  left 50% var(--d,var(--dir)) var(--csize)/calc(4*var(--csize)) 100% repeat-x;
  }
  .lower-curl2 {
    --csize: 30px;
    --p: 75px;
    --R: 80.77px /*sqrt(var(--csize)*var(--csize) + var(--p)*var(--p))*/;
    --dir: top;
    
      -webkit-mask:
      radial-gradient(var(--R) at left 50% var(--d,var(--dir)) calc(var(--csize) + var(--p)),#000 99%,#0000 101%) calc(50% - 2*var(--csize)) 0/calc(4*var(--csize)) 100%,
      radial-gradient(var(--R) at left 50% var(--d,var(--dir)) calc(-1*var(--p)),#0000 99%,#000 101%) 
                                  left 50% var(--d,var(--dir)) var(--csize)/calc(4*var(--csize)) 100% repeat-x;
      mask:
      radial-gradient(var(--R) at left 50% var(--d,var(--dir)) calc(var(--csize) + var(--p)),#000 99%,#0000 101%) calc(50% - 2*var(--csize)) 0/calc(4*var(--csize)) 100%,
      radial-gradient(var(--R) at left 50% var(--d,var(--dir)) calc(-1*var(--p)),#0000 99%,#000 101%) 
                                  left 50% var(--d,var(--dir)) var(--csize)/calc(4*var(--csize)) 100% repeat-x;
  }
  
  .curl {
    z-index: -1;
    position: relative;
    /* border: none; */
    /* left: 0; */
    min-height: 20rem;
    width: 100dvw;
    /* backdrop-filter: blur(100px); */
    /* background-color: red; */
    background-image: linear-gradient(to bottom, rgba(8, 8, 8, 0.45), rgba(8,8,8,0));
    box-shadow: 0 1rem 1rem 2rem black;
    /* margin-top: 34rem; */
    /* background-color: red; */
    margin-bottom: -20rem;
  }
  button {
    transition: 0.3s;
    background-color: #C6C6C6;
    border: none;
    padding: 0.6rem 2.8rem;
    font-family: 'ProductSansBlack';
    color: #4F4F4F;
    font-size: 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
  }
  button:hover {
    opacity: 0.7;
  }
  button:active {
    transition: 0.1s;
    transform: translateY(4px) scale(95%);
  }

  .explore {
    margin-top: 5rem;
  }
  .icon {
    font-family: "icons";
  }
  .icon-wrapper {
    position: relative;
    min-height: var(--hw);
    min-width: var(--hw);
    /* background-color: red; */
  }
  
  .icon-wrapper .icon {
    z-index: 10;
    position: relative;
    height: 100%;
    width: 100%;
    fill: var(--fill);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'icons';
    font-size: 2rem;
    color: var(--fill);
  }
  

  .chevron-down {
    --hw: 2rem;
    --fill: #C6C6C6;
    opacity: 0.6;
    margin-top: 0.5rem;
    margin-bottom: 12rem;
  }


  .discipline.ds1 {
    border: 1px solid #EA7000;
 }
 .discipline.ds2 {
    border: 1px solid #369df1;
 }
 .discipline.ds3 {
    border: 1px solid #7E5BE2;
 }

p.title_venn {
    font-size: 3.5rem;
    line-height: 4rem;
    color: #C6C6C6;
    margin-bottom: 4rem;
    margin-top: 9rem;
    /* text-align: left; */
}
.orange {
    color: #EA7000;
}
.blue {
    color: #369df1;
}
.purple {
    color: #7E5BE2;
}

.main_content_layer.venn_container {
    position: relative;
    width: 100vw;
    height: fit-content;
    min-height: auto;
    /* background-color: rgba(255, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem !important;
    padding: 0 10vw 0 10vw;
  }

  .contact_btn {
    /* display: none; */
    transition: 0.5s;
    position: fixed;
    right: 3rem;
    bottom: 2rem;
    min-height: 4rem;
    width: 4rem;
    border-radius: 4rem;
    background-color: #131313;
    box-shadow: 0 0 2rem -0.5rem rgba(255, 255, 255, 0.5);
    cursor: pointer;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact_btn:hover {
    transform: scale(110%);
  }
  .contact_btn .icon {
    transition: 0.5s;
    font-size: 2rem;
    color: #34C848;
    /* background-color: red; */
  }
  .contact_btn[data-active="true"] .icon {
    transform: rotate(120deg);
    color: #EA0054;
  }
  .contact_btn[data-active="true"] {
    right: 3rem;
  }
  .contact_list {
    transition: 0.5s;
    display: flex;
    align-items: flex-end;
    /* flex-direction: row-reverse; */
    right: -30rem;
    bottom: 8rem;
    z-index: 99;
    position: fixed;
    /* background-color: rgba(255, 0, 0, 0.165); */
    /* border: 2px solid red; */
    height: fit-content;
    max-height: 85dvh;
    width: 28.5rem;
    justify-content: flex-end;
    gap: 0.8rem;
    align-items: stretch;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding-top: 2rem;
  }
  .contact_list[data-active="true"] {
    right: 2.5rem;
  }






  a:active,
  a:hover,
  a:link,
  a:visited {
    color: inherit;
    text-decoration: none;
  }
  


  



  .blurcover {
    transition: 0.5s;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    /* background-color: red; */
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(0px);
    opacity: 0;
    visibility: hidden;
  }
  .blurcover[data-active="true"] {
    transition: visibility 0.1s opacity 0.3s 0.2s;
    visibility: visible;
    opacity: 1;
  }


  p.title_avail {
    font-size: 3.5rem;
    line-height: 4rem;
    color: #C6C6C6;
    margin-bottom: 3rem;
    margin-top: 9rem;
}


.avail_cards_section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: fit-content;
  min-height: fit-content;
  margin-bottom: 2rem;
  position: relative;
  /* background-color: rgba(255, 0, 0, 0.212); */
}
.avail_cards_section::after {
  transition: 300ms;
  font-family: icons;
  content: '';
  width: 4rem;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.253); */
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0rem 0rem 12px black;
}
.avail_cards_section::before {
  transition: 300ms;
  font-family: icons;
  content: '';
  width: 4rem;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.253); */
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0rem 0rem 12px black;
}




.avail_cards_container {
  /* mask-image: url(../assets/images/softhorizontal.png); */
  /* mask-size: cover; */
  /* position: relative;
  width: 82dvw;
  padding-left: 6rem;
  display: flex;
  min-height: 40rem;
  height: fit-content;
  justify-content: center;
  gap: 1rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;

  -webkit-overflow-scrolling: touch;
  background-color: rgba(255, 0, 0, 0.205); */

  /* background-color: rgba(255, 0, 0, 0.295); */
  justify-content: center;
  align-items: flex-end;
  width: calc(calc(calc(21rem * 0.8) * 4) + 10rem);
  display: flex;
  min-height: 32rem;
  margin-bottom: 2rem;
  position: relative;
  /* gap: 1rem; */
}
/* .avail_card:nth-child(2) {
  margin-left: 84rem;
}
.avail_card:nth-child(5) {
  margin-right: 20rem;
} */

.avail_card {
  transition: 500ms;
  /* transition: opacity 0.5s; */
  cursor: pointer;
  flex: 0 0 auto;
  scroll-snap-align: center;
  /* transform: scale(0.8) translate(-10%, 10%); */
  --scaling: 0.8;
}

.avail_card.print .avail_card_image::after {
  background-image: linear-gradient(135deg, rgba(96,46,0,0.6), rgba(61, 30, 2, 0.848), rgba(11,5,1,0.98));
}
.avail_card.physical .avail_card_image::after {
  background-image: linear-gradient(135deg, rgba(2, 0, 94, 0.6), rgba(9, 14, 74, 0.848), rgba(1, 1, 11, 0.98));
}
.avail_card.coding .avail_card_image::after {
  background-image: linear-gradient(135deg, rgba(38, 0, 94, 0.6), rgba(38, 9, 74, 0.848), rgba(6, 1, 11, 0.98));
}
.avail_card.all-in .avail_card_image::after {
  background-image: linear-gradient(135deg, rgba(94, 30, 0, 0.6), rgba(9, 14, 74, 0.848), rgba(19, 3, 42, 0.98));
}

.avail_card.print {
  margin-inline: 0.5rem;
}
.avail_card.physical {
  margin-inline: 0.5rem;
  
}
.avail_card.coding {
  margin-inline: 0.5rem;
  
}
.avail_card.all-in {
  margin-inline: 0.5rem;
}

/* .avail_cards_container:hover .avail_card:not(:hover) {
  transform-origin: bottom;
  transform: scale(90%);
}
.avail_cards_container:hover .avail_card:hover {
  transform-origin: bottom;
  transform: scale(130%);
} */
 

@media screen and (min-width: 1101px) {
  .avail_card:hover {
    transform-origin: bottom;
    transform: scale(120%);
    margin-inline: 0.5rem;
  }
  
  .avail_card:hover ~ .avail_card:not(:hover) {
    transform-origin: bottom right;
    transform: scale(90%);
    margin-inline: 0.5rem -1rem;
  }
  .avail_card:not(:hover):has(~ .avail_card:hover) {
    transform-origin: bottom left;
    transform: scale(90%);
    margin-inline: -1rem 0.5rem;
  }

  .avail_cards_section::before{
    opacity: 0;
  }
  .avail_cards_section::after{
    opacity: 0;
  }
}



@media screen and (max-width: 1235px) {
  .avail_cards_container {
    width: calc(calc(calc(21rem * 0.7) * 4) + 10rem);
    min-height: 28rem;
  }
  .avail_card {
    --scaling: 0.7;
  }
}

@media screen and (max-width: 1100px) {
  .avail_cards_container {
    /* background-color: red; */
    width: 100dvw;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    min-height: 35rem;

    mask-image: url(../assets/images/softhorizontal.png);
    mask-size: cover;
  }
  .avail_card {
    --scaling: 1;
    margin-block: 0.5rem;
  }

  .avail_card:nth-child(1) {
    margin-left: calc(50dvw - 10rem);
  }
  .avail_card:nth-child(4) {
    margin-right: calc(50dvw - 10rem);
  }

  .avail_cards_section[data-position="start"]::before{
    opacity: 0;
  }
  .avail_cards_section[data-position="end"]::after{
    opacity: 0;
  }
}

  



.mission_container {
  position: relative;
  height: fit-content;
  width: 100dvw;
  padding: 0 10dvw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  
}
.mission-vision_layout {
  display: flex;
  width: auto;
  /* background-color: red; */
  gap: 1rem;
  justify-content: start;
  line-height: 1.2rem;
  /* height: 2rem; */
  flex-wrap: wrap;

}
.m-v-card {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  padding: 2rem;
  width: 25rem;
  height: fit-content;
  /* height: 20rem; */
  background-color: rgba(0, 0, 0, 0.3);
}

.m-v-card .icon {
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 3rem;
  color: #6A5DB2;
  background-color: #271D59;
}
p.m-v_title {
  font-size: 1rem;
  background-color: #1a1534;
  width: fit-content;
  color:#9b91d1;
  padding: 0.4rem 1.2rem;
  border-radius: 1rem 2rem 2rem 1rem;
  margin-top: 0.5rem;
}
p.mission_body {
  font-size: 0.9rem;
  align-self: center;
  margin-top: 0.5rem;
  color: rgba(255, 255, 255, 0.6);
  width: 95%;
}

.vision_card .icon {
  background-color: #793c10;
  color: #d6904e;
  font-size: 2.5rem;
}
.vision_card .m-v_title {
  background-color: #3d200a;
  color: #E9BB8F;
}
.values_card {
  flex: 0 0 auto;
  width: 30rem;
  justify-self: flex-start;
}

.values_card .icon {
  font-size: 1.8rem;
  background-color: #163551;
  color: #4676A1;
}
.values_card .m-v_title {
  background-color: #0F202E;
  color: #98BFE3;

}
.title_card.m-v-card {
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url(../assets/images/mvs_card.svg);
  background-size: cover;
  background-position: center;
  width: 20rem;
  height: auto;
  display: flex;
  justify-content: center;
  opacity: 0.6;
}

.title_placeholder {
  z-index: -1;
  color: white;
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: left;
  margin-left: 1.8rem;
  height: 20rem;
}
.title_mvv {
  font-size: 3.5rem;
    line-height: 4rem;
    color: #C6C6C6;
    margin-bottom: 3rem;
    margin-top: 9rem;
}

.m-v-card[data-is-in-view="false"] {
  transition: 0.3s;
  opacity: 0;
  transform: scale(90%) translateY(1rem);
}

.m-v-card[data-is-in-view="false"] .icon{
  transition: 0.3s;
  opacity: 0;
  transform: scale(90%) translateY(1rem);
}
.m-v-card[data-is-in-view="false"] .m-v_title{
  transition: 0.3s;
  opacity: 0;
  transform: scale(90%) translateY(1rem);
}
.m-v-card[data-is-in-view="false"] .mission_body{
  transition: 0.3s;
  opacity: 0;
  transform: scale(90%) translateY(1rem);
}




.m-v-card[data-is-in-view="true"] {
  transition: 0.3s 0.15s;
  opacity: 1;
  transform: scale(100%) translateY(0rem);
}
.title_card.m-v-card[data-is-in-view="true"] {
  opacity: 0.6;
}

.m-v-card[data-is-in-view="true"] .icon{
  transition: 0.3s 0.1s;
  opacity: 1;
  transform: scale(100%) translateY(0rem);
}
.m-v-card[data-is-in-view="true"] .m-v_title{
  transition: 0.3s 0.2s;
  opacity: 1;
  transform: scale(100%) translateY(0rem);
}
.m-v-card[data-is-in-view="true"] .mission_body{
  transition: 0.3s 0.3s;
  opacity: 1;
  transform: scale(100%) translateY(0rem);
}





#group_link_btn {
  transition: 0.5s;
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  height: 4.5rem;
  width: 8.5rem;
  /* border: 2px solid red; */
  padding: 1.3rem;
  background-color: rgba(55, 55, 55, 0.44);
      box-shadow: 0 0 1rem -0.2rem black;
  backdrop-filter: blur(20px);
  border-radius: 100rem;
  overflow: hidden;
  /* display: none; */
}
#group_icon_wrapper {
  transition: 0.5s;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: 0;
  /* background-color: red; */
}
#group_icon {
  transition: 0.5s;
  height: 100%;
  width: 100%;
  /* background-color: red; */
  background-image: url(../assets/images/group_icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
}
#group_link_btn:hover #group_icon {
  opacity: 1;
  filter: drop-shadow(0rem 0rem 1rem white);
}
#group_link_btn:hover {
  transform: scale(105%);
}
#group_link_btn[data-minimized="true"] {
  transform: translate(-6rem, -0.5rem) scale(85%);
}
#group_link_btn[data-minimized="true"] #group_icon_wrapper {
  opacity: 1;
  width: 2rem;

}
#group_link_btn[data-minimized="true"]:hover {
  transform: translate(-0.8rem, -0.5rem) scale(100%);
}
#group_link_btn[data-minimized="true"]:hover #group_icon_wrapper {
  opacity: 1;
  width: 100%;
}


#blueprint {
  width: 75dvw;
  min-height: 50dvw;
  /* background-color: red; */
  background-image: url(../assets/images/BLUEPRINT.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 0;
  /* background-color: red; */
  margin-bottom: 5rem;
  margin-top: 4rem;
  cursor: crosshair;
}
.room {
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.image-gallery {
  transition: 0.3s;
  height: 12dvw;
  width: 18dvw;
  /* background-color: rgb(26, 25, 35); */
  background-image: linear-gradient(
    125deg,
    #28130A,
    #1A0E1D,
    #0C0E1F
  );
  
  background-size: cover;
  background-position: center;
  margin-left: 6dvw;
  margin-top: -13.5dvw;
  border-radius: 1dvw;
  /* box-shadow: 0 0 13dvw 3dvw rgb(0, 0, 0); */
  border: 1px solid white;
  opacity: 0;
  transform: translateY(1dvw);
  pointer-events: none;
  visibility: hidden;
  cursor: auto;
  overflow: hidden;
}
.roomname_wrapper {
  color: white;
  height: 60%;
  width: 100%;
  position: absolute;
  top: 40%;
  background-image: linear-gradient(
    180deg,
    #28130a00,
    #000000AB,
    #000000
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.roomname_wrapper p {
  margin-left: 1.2rem;
  margin-bottom: 0.8rem;
}


.pinpoint {
  transition: 0.3s;
  height: 0;
  width: 0;
  border-top: 1dvw solid white;
  border-inline: 1dvw solid transparent;
  opacity: 0;
  transform: translateY(1dvw);
  pointer-events: none;
  visibility: hidden;
}


.conference.room {
  height: 13.5dvw;
  width: 11dvw;
  margin-top: 21dvw;
  margin-left: 1dvw;
}
.conference.room .image-gallery {
  background-image: url(../assets/images/conference.png);
}

.trainingHub.room {
  height: 20dvw;
  width: 21dvw;
  margin-top: 13.7dvw;
  margin-left: 27dvw;
}
.trainingHub.room .image-gallery {
  background-image: url(../assets/images/trainingHub.png);
}
.trainingHub.room .image-gallery {
  margin-left: 0;
}

.collabSpace.room {
  height: 20dvw;
  width: 11.2dvw;
  margin-top: 13.7dvw;
  margin-left: 50.5dvw;
}
.collabSpace.room .image-gallery {
  background-image: url(../assets/images/collabSpace.png);
}
.collabSpace.room .image-gallery {
  margin-left: -2dvw;
}

.makerLab.room {
  height: 16dvw;
  width: 11.2dvw;
  margin-top:18dvw;
  margin-left: 63dvw;
}
.makerLab.room .image-gallery {
  background-image: url(../assets/images/makerLab.png);
}
.makerLab.room .image-gallery {
  margin-left: -5dvw;
}













.room:hover .pinpoint,
.room:hover .image-gallery {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
.room:hover .image-gallery {
  transform: translateY(0);
}
.room:hover {
  transform: scale(130%);
  box-shadow: 0 0 100dvw 100dvw rgba(0, 0, 0, 0.75);
}


.footer {
  min-height: fit-content;
  width: 100dvw;
  background-color: rgb(12, 12, 12);
  margin-top: 5rem;
  display: flex;
  align-items: flex-start;
  gap: 5rem;
  justify-content: center;
  font-size: 1.2rem;
  padding-block: 3rem;
}

.footer_logo {
  height: 6rem;
  width: 8rem;
}

.logo_group {
  color: rgb(184, 184, 184);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: ProductSans;
  text-align: center;
  padding-inline: 2rem;
}

.social_media_group {
  color: rgb(184, 184, 184);
  font-family: ProductSans;
}

.social_links_group {
  display: flex;
  gap: 0.5rem;
  font-size: 2rem;
  font-family: icons;
}
.social_links_group a {
  transition: 0.3s;
}
.social_links_group a:nth-child(1):hover {
  color: #369df1;
}
.social_links_group a:nth-child(3):hover {
  color: #369df1;
}
.social_links_group a:nth-child(2):hover {
  color: #7E5BE2;
}

.email_subscribe_group {
  font-family: ProductSans;
  max-width: 20rem;
  color: rgb(184, 184, 184);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.email_subscribe_group p.desc{
  font-size: 1rem;
  color: rgb(136, 136, 136);
}

.email_subscribe_group a {
  padding: 0.4rem 1rem;
  color: rgb(12, 12, 12);
  background-color: rgb(184, 184, 184);
  font-family: ProductSansBold;
  border-radius: 5rem;
  width: fit-content;
  transition: 0.2s;
  /* margin-top: 0.2rem; */
}

.email_subscribe_group a:hover {
  background-color: #EA7000;
  color: rgb(12, 12, 12);
  font-family: ProductSansBold;
  border-radius: 5rem;
  width: fit-content;
  /* margin-top: 0.2rem; */
}

@media screen and (max-width:1100px){
  .footer {
    flex-wrap: wrap;
    gap: 4rem 10rem;
  }
  .logo_group {
    width: 100%;
  }
  .social_media_group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .email_subscribe_group {
    align-items: flex-end;
    text-align: right;
    max-width: 25rem;
  }
}

@media screen and (max-width:1000px){
  .footer {
    flex-wrap: wrap;
    gap: 2rem;
  }
  .logo_group {
    width: 100%;
  }
  .social_media_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .email_subscribe_group {
    align-items: center;
    text-align: center;
    max-width: 28rem;
  }
  .email_subscribe_group p.desc {
    padding-inline: 2rem;
  }
}



/* .contact_btn:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-51deg, #5900ff 0%, #ff6600 99% );
  transform: translate3d(0px, 0px, 0) scale(0.85);
  filter: blur(40px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

.contact_btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
} */
  

        




  @media only screen and (max-width: 1250px) and (max-aspect-ratio: 5/3) {
    .chevron-down {
        --hw: 2rem;
        --fill: #C6C6C6;
        opacity: 0.6;
        margin-top: 0.5rem;
        margin-bottom: 3rem;
      }
  }
  @media only screen and (max-width: 1025px) {
    .title_card.m-v-card {
      display: none;
    }

    .mission_container {
      position: relative;
      height: fit-content;
      width: 100dvw;
      padding: 0 20dvw;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      
    }
    .mission-vision_layout {
      display: flex;
      width: auto;
      /* background-color: green; */
      gap: 1rem;
      justify-content: start;
      line-height: 1.2rem;
      /* height: 2rem; */
      flex-wrap: wrap;
    
    }
    .m-v-card {
      display: flex;
      flex-direction: column;
      border-radius: 2rem;
      padding: 1rem 1rem;
      width: auto;
      height: fit-content;
      /* height: 20rem; */
      background-color: rgba(0, 0, 0, 0);
      /* background-color: red; */
    }
    
    .m-v-card .icon {
      height: 4rem;
      width: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 3rem;
      color: #6A5DB2;
      background-color: #271D59;
    }
    p.m-v_title {
      font-size: 1rem;
      background-color: #1a1534;
      width: fit-content;
      color:#9b91d1;
      padding: 0.4rem 1.2rem;
      border-radius: 1rem 2rem 2rem 1rem;
      margin-top: 0.5rem;
    }
    p.mission_body {
      font-size: 0.9rem;
      align-self: center;
      margin-top: 0.5rem;
      color: rgba(255, 255, 255, 0.6);
      width: 95%;
      text-align: left;
    }
    
    .vision_card .icon {
      background-color: #793c10;
      color: #d6904e;
      font-size: 2.5rem;
    }
    .vision_card .m-v_title {
      background-color: #3d200a;
      color: #E9BB8F;
    }
    .values_card {
      flex: 1;
      width: auto;
      justify-self: flex-start;
      /* background-color: red; */
    }

    .values_card .icon {
      font-size: 1.8rem;
      background-color: #163551;
      color: #4676A1;
    }
    .values_card .m-v_title {
      background-color: #0F202E;
      color: #98BFE3;
    
    }
    .title_mvv {
      font-size: 2.5rem;
      text-align: center;
    }


    .avail_card:hover ~ .avail_card:not(:hover),
    .avail_card:not(:hover):has(~ .avail_card:hover) {
      opacity: 1;
    }
  }





  @media only screen and (max-width: 700px) and (orientation: portrait) {
    #orb_purple {
        position: absolute;
        height: 35dvh;
        width: 35dvh;
        border-radius: 73% 27% 61% 39% / 36% 45% 55% 64% ;
        background-color: #201947;
        left: -10dvw;
        top: 10dvh;
    }
    #orb_blue {
        position: absolute;
        height: 31dvh;
        width: 31dvh;
        border-radius: 47% 53% 61% 39% / 67% 71% 29% 33% ;
        background-color: #143451;
        right: 20dvw;
        top: 35dvh;
    }
    #orb_orange {
        position: absolute;
        height: 22dvh;
        width: 26dvh;
        border-radius: 77% 23% 35% 65% / 45% 23% 77% 55% ;
        background-color: #472B11;
        left: 42dvw;
        top: 60dvh;
    }
    .main_blur_overlay {
        width: 100dvw;
        height: 100dvh;
        background-color: rgba(0, 0, 0, 0.038);
        /* background-color: red; */
        backdrop-filter: blur(70px);
        display: flex;
        align-items: center;
        overflow-y: scroll;
        overflow-x: hidden;
        flex-direction: column;
    }
    
    
    .logo_container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 12rem;
        min-width: 15rem;
        margin-top: 8rem;
        /* background-color: red; */
    }
    .logo_container .logo {
        position: absolute;
        height: 100%;
        width: 100%;
        right: 0;
        bottom: 0;
        /* background-color: blue; */
    }
    
    .overlay_mask {
        position: absolute;
        z-index: -1;
        width: 100dvw;
        /* height: 100%; */
        top: calc(-10rem * var(--content-scale));
        left: 0;
        bottom: calc(-10rem * var(--content-scale));
        overflow: hidden;
        mask-image: url(../assets/images/softedgemask.png);
        mask-size: 120% 100%;
        mask-position: 50% 0;
        mask-repeat: no-repeat;
        opacity: 0.3;
        display: flex;
        justify-self: flex-end;
        /* background-color: red; */
      }
      .overlay_mask .dot_overlay {
        height: 100%;
        width: 100%;
        background-image: url(../assets/images/dot.png);
        background-repeat: repeat;
        position: absolute;
        background-size: 1.8rem;
        opacity: 0.8;
      }
      .overlay_mask .grid_overlay {
        height: 100%;
        width: 100%;
        background-image: url(../assets/images/grid.png);
        background-repeat: repeat;
        position: absolute;
        background-size: 2.2rem;
        opacity: 0.3;
      }
    
      .greeting_container{
        /* background-color: red; */
        padding: 0 2rem;
      }
      p.greeting {
        margin-top: 5rem;
        font-size: 1rem;
        white-space: normal !important;
        min-height: 5rem;
        /* background-color: red; */
      }
      p.greeting-heavy {
        margin-top: 0.5rem;
        font-size: 1.4rem;
      }
    
    .lower-curl {
        --csize: 20px;
        --p: 50px;
        --R: 53.85px /*sqrt(var(--csize)*var(--csize) + var(--p)*var(--p))*/;
        --dir: top;
        
          -webkit-mask:
          radial-gradient(var(--R) at left 50% var(--d,var(--dir)) calc(var(--csize) + var(--p)),#000 99%,#0000 101%) calc(50% - 2*var(--csize)) 0/calc(4*var(--csize)) 100%,
          radial-gradient(var(--R) at left 50% var(--d,var(--dir)) calc(-1*var(--p)),#0000 99%,#000 101%) 
                                      left 50% var(--d,var(--dir)) var(--csize)/calc(4*var(--csize)) 100% repeat-x;
          mask:
          radial-gradient(var(--R) at left 50% var(--d,var(--dir)) calc(var(--csize) + var(--p)),#000 99%,#0000 101%) calc(50% - 2*var(--csize)) 0/calc(4*var(--csize)) 100%,
          radial-gradient(var(--R) at left 50% var(--d,var(--dir)) calc(-1*var(--p)),#0000 99%,#000 101%) 
                                      left 50% var(--d,var(--dir)) var(--csize)/calc(4*var(--csize)) 100% repeat-x;
      }
      
      
      button {
        transition: 0.3s;
        background-color: #C6C6C6;
        border: none;
        padding: 0.6rem 2.8rem;
        font-family: 'ProductSansBlack';
        color: #4F4F4F;
        font-size: 1.2rem;
        border-radius: 2rem;
        cursor: pointer;
      }
      button:hover {
        opacity: 1;
      }
      button:active {
        transition: 0.1s;
        transform: translateY(4px) scale(95%);
        opacity: 0.7;
      }
    
      .explore {
        margin-top: 4rem;
      }
      .icon-wrapper {
        position: relative;
        min-height: var(--hw);
        min-width: var(--hw);
        /* background-color: red; */
      }
      .icon-wrapper .icon {
        position: absolute;
        height: 100%;
        width: 100%;
        fill: var(--fill);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
      .chevron-down {
        --hw: 2rem;
        --fill: #C6C6C6;
        opacity: 0.6;
        margin-top: 0.5rem;
        margin-bottom: 3rem;
      }








      p.title_venn {
        font-size: 2.5rem;
        line-height: 2.5rem;
        color: #C6C6C6;
        margin-bottom: 3rem;
        align-self: center;
        margin-top: 5.5rem;
        text-align: left;
        margin-left: 2.5rem;
    }
    
    p.title_avail {
      font-size: 2.5rem;
        line-height: 2.5rem;
        color: #C6C6C6;
        margin-bottom: 3rem;
        align-self: center;
        margin-top: 5.5rem;
        text-align: right;
        margin-right: 2.5rem;
    }








    .avail_cards_container {
      position: relative;
      width: 100dvw;
      left: 0;
      padding: 0;
      display: flex;
      min-height: 35em;
      /* height: fit-content; */
      /* background-color: red; */
      justify-content: flex-start;
      gap: 1rem;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      mask-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 1) 20%, 80%,rgba(255, 255, 255, 0) 100%);
      /* mask-size: 100%;
      mask-position: center; */
    }
    .avail_card:nth-child(1) {
      margin-left: calc(50dvw - 10rem);
    }
    .avail_card:nth-child(4) {
      margin-right: calc(50dvw - 10rem);
    }
    
    .avail_card {
      transition: opacity 0s;
      flex: 0 0 auto;
      scroll-snap-align: center;
    }
    .avail_card:hover ~ .avail_card:not(:hover),
    .avail_card:not(:hover):has(~ .avail_card:hover) {
      opacity: 1;
    }


    .mission_container {
      position: relative;
      height: fit-content;
      width: 100dvw;
      padding: 0 5dvw;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      
    }
    .mission-vision_layout {
      display: flex;
      width: auto;
      /* background-color: red; */
      gap: 1rem;
      justify-content: start;
      line-height: 1.2rem;
      /* height: 2rem; */
      flex-wrap: wrap;
    
    }
    .m-v-card {
      display: flex;
      flex-direction: column;
      border-radius: 2rem;
      padding: 1rem 1rem;
      width: auto;
      height: fit-content;
      /* height: 20rem; */
      background-color: rgba(0, 0, 0, 0);
    }
    
    .m-v-card .icon {
      height: 4rem;
      width: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 3rem;
      color: #6A5DB2;
      background-color: #271D59;
    }
    p.m-v_title {
      font-size: 1rem;
      background-color: #1a1534;
      width: fit-content;
      color:#9b91d1;
      padding: 0.4rem 1.2rem;
      border-radius: 1rem 2rem 2rem 1rem;
      margin-top: 0.5rem;
    }
    p.mission_body {
      font-size: 0.9rem;
      align-self: center;
      margin-top: 0.5rem;
      color: rgba(255, 255, 255, 0.6);
      width: 95%;
      text-align: left;
    }
    
    .vision_card .icon {
      background-color: #793c10;
      color: #d6904e;
      font-size: 2.5rem;
    }
    .vision_card .m-v_title {
      background-color: #3d200a;
      color: #E9BB8F;
    }
    .values_card {
      flex: 0 1 auto;
      width: auto;
      justify-self: flex-start;
    }
    
    .values_card .icon {
      font-size: 1.8rem;
      background-color: #163551;
      color: #4676A1;
    }
    .values_card .m-v_title {
      background-color: #0F202E;
      color: #98BFE3;
    
    }
    .title_card.m-v-card {
      display: none;
    }

    .title_mvv {
      font-size: 2.5rem;
        line-height: 2.5rem;
        color: #C6C6C6;
        margin-bottom: 3rem;
        align-self: center;
        margin-top: 5.5rem;
        text-align: left;
        margin-left: 2.5rem;
    }











    .contact_btn {
      /* display: none; */
      transition: 0.5s;
      position: fixed;
      right: 1.3rem;
      bottom: 1.4rem;
      min-height: 3.6rem;
      width: 3.6rem;
      border-radius: 4rem;
      background-color: #29292981;
      box-shadow: 0 0 2rem -0.5rem rgba(255, 255, 255, 0);
      cursor: pointer;
      z-index: 100;
      display: flex;
      align-items: center;
      justify-content: center;
      backdrop-filter: blur(7px);
    }
    .contact_btn:hover {
      transform: scale(100%);
    }
    .contact_btn:active {
      transform: scale(90%);
    }
    .contact_btn .icon {
      transition: 0.5s;
      font-size: 1.8rem;
      color: #34c848;
      /* background-color: red; */
    }
    .contact_btn[data-active="true"] .icon {
      transform: rotate(120deg);
      color: #EA0054;
    }
    .contact_btn[data-active="true"] {
      box-shadow: 0 0 2rem -0.5rem rgba(0, 0, 0, 0.9);
      right: calc(50dvw - 2rem);
      transform: scale(120%) translateY(-0.5rem);
      backdrop-filter: blur(0px);
      background-color: #292929;
    }
    .contact_list {
      align-items: center;
      flex-direction: column-reverse;
      right: -100dvw;
      z-index: 99;
      height: fit-content;
      max-height: 80dvh;
      width: 14rem;
      flex-wrap: nowrap;
      overflow-y: scroll;
      justify-content: flex-start;
    }
    .contact_list[data-active="true"] {
      right: calc(50dvw - 7rem);
    }


  
    .blurcover {
      transition: 0.5s;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      /* background-color: red; */
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      backdrop-filter: blur(20px);
      opacity: 0;
      visibility: hidden;
    }
    .blurcover[data-active="true"] {
      transition: visibility 0.1s opacity 0.3s 0.2s;
      visibility: visible;
      opacity: 1;
    }


    #group_link_btn {
      transition: 0.4s;
      position: fixed;
      top: 1rem;
      left: calc(50dvw - calc(7.5rem / 2));
      height: 4rem;
      width: 7.5rem;
      /* border: 2px solid red; */
      padding: 1.1rem;
      background-color: rgba(38, 38, 38, 0.44);
      box-shadow: 0 0 1rem -0.2rem black;
      backdrop-filter: blur(20px);
      border-radius: 100rem;
      overflow: hidden;
      
    }
    #group_icon {
      transition: 0.3s;
      height: 100%;
      width: 100%;
      /* background-color: red; */
      background-image: url(../assets/images/group_icon.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.5;
    }
    #group_link_btn:hover #group_icon {
      opacity: 1;
      filter: drop-shadow(0rem 0rem 1rem white);
    }
    #group_link_btn:hover {
      transform: scale(105%);
    }
    

    







    #blueprint {
      width: 90dvw;
      min-height: 38dvw;
      /* background-color: red; */
      background-image: url(../assets/images/BLUEPRINT.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center 0;
      /* background-color: red; */
      margin-bottom: 0rem;
      margin-top: 0rem;
      pointer-events: none;
    }




    #group_link_btn[data-minimized="true"] {
      transform: translate(-50dvw, -0.5rem) scale(85%);
    }
    #group_link_btn[data-minimized="true"] #group_icon_wrapper {
      opacity: 1;
      width: 2rem;
    
    }
    #group_link_btn[data-minimized="true"]:hover {
      transform: translate(-50dvw, -0.5rem) scale(100%);
    }
    #group_link_btn[data-minimized="true"]:hover #group_icon_wrapper {
      opacity: 1;
      width: 2rem;
    }
    

  }
