div:has(.avail_card) {
  --scaling: 0.8;
}

.avail_card {
    height: fit-content;
    width: calc(20rem * var(--scaling));
    background-color: rgba(0, 0, 0, 0.4);
    /* min-height: 20rem; */
    border-radius: calc(2rem * var(--scaling));
    overflow: hidden;
    border: 1px solid rgb(157, 157, 157);
    /* backdrop-filter: blur(200px); */
    z-index: 100;
    box-shadow: 0 0 calc(1rem * var(--scaling)) calc(-0.5rem * var(--scaling)) rgba(255, 255, 255, 0.482);
    padding-bottom: calc(0.5rem * var(--scaling));
  }
  
  .avail_card_image {
    display: flex;
    position: relative;
    /* background-color: red; */
    width: 100%;
    height: calc(11rem * var(--scaling));
    
    background-size: cover;
    /* border-radius: 2rem; */
    /* box-shadow: 0 -1.5rem 2rem 1rem rgba(255, 255, 255, 0.482); */
    padding: calc(2rem * var(--scaling)) 0 calc(1rem * var(--scaling)) calc(2rem * var(--scaling));
    flex-direction: column;
    /* overflow: hidden; */
  }
  .avail_card_image::after {
    display: fix;
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(135deg, rgba(0,0,0,0.6), rgba(0,0,0,0.95));
    /* border-radius: 2rem; */
  }
  
  .avail_title {
    z-index: 1;
    font-size: calc(1.7rem * var(--scaling));
    color: white;
    line-height: calc(2rem * var(--scaling));
  }
  .avail_slots_container {
    z-index: 1;
    width: calc(10rem * var(--scaling));
    height: calc(10rem * var(--scaling));
    /* background-color: rgba(255, 0, 0, 0.357); */
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    color: white;
    justify-self: flex-end;
    justify-content: center;
    align-items: center;
  }
  .avail_slots_value {
    width: 100%;
    height: calc(3rem * var(--scaling));
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .avail_slots_capacity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(3rem * var(--scaling));
    /* background-color: green; */
    line-height: calc(1.2rem * var(--scaling));
  }
  .avail_slots_main {
    /* background-color: black; */
    font-size: calc(2rem * var(--scaling));
  }
  .avail_slots_desc {
    /* background-color: brown; */
    font-size: calc(0.6rem * var(--scaling));
  }
  
  .avail_slots_const {
    font-size: calc(1.2rem * var(--scaling));
    margin-bottom: calc(0.78rem * var(--scaling));
  }
  
  
  
  
  
  .font-size_cust {
    font-size: calc(var(--fontSize) * var(--scaling));
  }
  .line-height_cust
  {
    line-height: calc(var(--lineHeight) * var(--scaling));
  }
  .avail_slots_title {
    font-size: calc(0.75rem * var(--scaling));
  }
  
  .avail_card_text_color {
    color: #D1D1D1;
    font-size: calc(0.8rem * var(--scaling));
  }
  
  .avail_bottom {
    width: 100%;
    height: fit-content;
    /* background-color: red; */
    padding: calc(1rem * var(--scaling)) calc(1.3rem * var(--scaling)) calc(1rem * var(--scaling)) calc(1.3rem * var(--scaling));
  }
  .age_tag {
    color: #3B3B3B;
    padding: calc(0.3rem * var(--scaling)) calc(1.2rem * var(--scaling));
    background-color: #AAAAAA;
    border-radius: calc(2rem * var(--scaling));
    width: fit-content;
    /* box-shadow: 0 0 2rem -0.5rem rgba(255, 255, 255, 0.325); */
  }
  .age_group {
    margin-top: calc(0.3rem * var(--scaling));
    display: flex;
    height: fit-content;
    width: 100%;
    /* background-color: red; */
    flex-wrap: wrap;
    gap: calc(0.4rem * var(--scaling));
    margin-bottom: calc(0.8rem * var(--scaling));
    font-size: calc(0.8rem * var(--scaling));
  }
  .pill {
    color: #3B3B3B;
    margin-top: calc(0.3rem * var(--scaling));
    padding: calc(0.35rem * var(--scaling)) calc(1.7rem * var(--scaling));
    background-color: #AAAAAA;
    border-radius: calc(2rem * var(--scaling));
    width: fit-content;
    /* box-shadow: 0 0 2rem -0.5rem rgba(255, 255, 255, 0.325); */
    margin-bottom: calc(0.8rem * var(--scaling));
    font-size: calc(0.8rem * var(--scaling));
  }
  
  
  .schedule_group {
    margin-top: calc(0.3rem * var(--scaling));
    display: flex;
    height: fit-content;
    width: 100%;
    /* background-color: red; */
    flex-wrap: nowrap;
    gap: 0 0.4rem;
    justify-content: space-between;
    align-self: center;
    /* align-items: stretch; */
    /* margin-bottom: 1.2rem; */
  }
  .schedule_tag {
    display: flex;
    flex-direction: column;
    color: #3B3B3B;
    height: fit-content;
    height: auto;
    width: 100%;
    border-radius: calc(1rem * var(--scaling));
    background-color: #AAAAAA;
    /* box-shadow: 0 0 2rem -0.5rem rgba(255, 255, 255, 0.325); */
    padding: calc(0.5rem * var(--scaling)) calc(1rem * var(--scaling));
  }
  .schedule_title {
    line-height: calc(0.9rem * var(--scaling));
    font-size: calc(0.78rem * var(--scaling));
    /* background-color: green; */
  }
  .schedule_desc {
    line-height: calc(0.7rem * var(--scaling));
    margin-top: calc(0.1rem * var(--scaling));
    height: calc(calc(0.7rem * var(--scaling)) * 2);
    
    /* background-color: red; */
  }
  .schedule_time {
    margin-top: calc(0.5rem * var(--scaling));
    text-align: right;
    line-height: calc(0.9rem * var(--scaling));
    align-self: flex-end;
    justify-self: flex-end;
    /* background-color: blue; */
  }


