.content_new {
    position: relative;
    margin-bottom: 3rem;
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 5vw 0 5vw;
    /* background-color: rgba(255, 0, 0, 0.159); */
  }

  .cards_container_new {
    height: fit-content;
    min-width: 30rem;
    perspective: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    /* background-color: red; */
  }
  .card_new {
    transition: transform 1s, opacity 1s, background 0.1s;
    position: absolute;
    height: 25rem;
    width: 15rem;
    border-radius: 2.5rem;
    border: #7E7E7E solid 2px;
  }
  
  .card_new.c1 {
    background: url(../assets/images/hardwarecomputing2.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .card_new.c2 {
    background: url(../assets/images/3dprint2.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .card_new.c3 {
    background: url(../assets/images/codeblocks.png);
    background-size: cover;
    background-position: center;
  }
  
  .card_new.left {
    transform: translateX(-11rem) rotateY(-20deg) scale(70%);
    transform-style: preserve-3d;
    opacity: 40%;
    cursor: pointer;
  }
  
  .card_new.center {
    z-index: 1;
    opacity: 100%;
  }
  
  .card_new.right {
    transform: translateX(11rem) rotateY(20deg) scale(70%);
    transform-style: preserve-3d;
    /* z-index: 1; */
    opacity: 40%;
    cursor: pointer;
  }
  .page_indicator_new {
    height: 1.2rem;
    width: 7rem;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 28rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
  }
  .page_new {
    transition: 0.5s;
    height: 6px;
    width: 6px;
    background-color: rgba(255, 255, 255, 0.127);
    border-radius: 6px;
    margin-left: 2px;
    margin-right: 2px;
  }
  .page_new.active {
    width: 2.5rem;
  }
  .page_new::after {
    transition: opacity 0.5s, width 0.5s linear;
    display: block;
    height: 100%;
    width: 6px;
    content: " ";
    background-color: rgb(201, 201, 201);
    border-radius: 6px;
    opacity: 0;
  }
  .page_new.active::after {
    transition: opacity 0.5s, width 5s linear;
    width: 100%;
    opacity: 1;
  }
  .page_new.active.reset::after {
    transition: opacity 0.5s, width 0.5s ease;
    width: 6px;
    /* opacity: 0; */
  }
  
  
  .card_new.left:hover, .card_new.right:hover {
    transition: 0.7s;
    opacity: 60%;
    box-shadow: white 0 0 8vh -3vh;
  }
  
  .text_content_new {
    /* margin: 2rem 0 0 2rem; */
    margin-left: 2rem;
    margin-right: 4rem;
    /* background-color: rgba(0, 0, 0, 0.253); */
    max-width: 40rem;
    min-height: 26rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  h1.heading_new {
    /* transition: 0.5s; */
    font-size: 4rem;
    line-height: 4.2rem;
  }
  h1.heading_new[data-active-course="3d"]{
    color: #EA7000;
  }
  h1.heading_new[data-active-course="phys"]{
    color: #369df1;
  }
  h1.heading_new[data-active-course="code"]{
    color: #7E5BE2;
  }

  p.description_new {
    /* transition: 0.5s; */
    font-size: 1.4rem;
    color: #C6C6C6;
    /* margin-bottom: 1.2rem; */
    margin-top: 0.6rem;
  }


  .course_buttons {
    /* background-color: red; */
    height: fit-content;
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
  }
  button.course_btn {
    padding: 0.7rem 1.8rem;
    font-size: 0.9rem;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    text-align: left;
    font-family: 'ProductSansBlack';
    min-width: fit-content;
    /* text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.338); */
  }
  .course_btn .icon {
    /* background-color: red; */
    min-height: 1.1rem;
    min-width: 1.1rem;
    margin-left: 0.5rem;
    fill: var(--fill);
    display: flex;
    align-items: center;
    transition: 0.2s;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
  }
  .btn_code .icon {
    font-size: 0.9rem;
  }

  

  /* .btn_3d[data-active="false"] {
    background-color: white;
    color: #EA7000;
  }
  .btn_phys[data-active="false"] {
    background-color: white;
    color: #369df1;
  }
  .btn_code[data-active="false"] {
    background-color: white;
    color: #7E5BE2;
  } */
  
  .btn_3d[data-active="false"] {
    color: #c76000;
    /* color: white; */
    opacity: 0.8;
    --fill: #EA7000;
  }
  .btn_phys[data-active="false"] {
    color: #2071b3;
    /* color: rgb(235, 235, 235); */
    opacity: 0.8;
    --fill: #369df1;
  }
  .btn_code[data-active="false"] {
    color: #573ba4;
    /* color: white; */
    opacity: 0.8;
    --fill: #7E5BE2;
  }
  .course_btn:hover {
    opacity: 1;
  }

  .btn_3d[data-active="true"] {
    background-color: #EA7000;
    color: white;
    box-shadow: 0 0 2rem -0.5rem #EA7000;
    --fill: white;
  }
  .btn_phys[data-active="true"] {
    background-color: #369df1;
    color: rgb(235, 235, 235);
    box-shadow: 0 0 2rem -0.5rem #369df1;
    --fill: white;
  }
  .btn_code[data-active="true"] {
    background-color: #7E5BE2;
    color: white;
    box-shadow: 0 0 2rem -0.5rem #7E5BE2;
    --fill: white;
  }

















  .main_content_layer_new {
    position: relative;
    width: 100vw;
    height: fit-content;
    min-height: calc(7rem * var(--content-scale));
    /* background-color: rgba(255, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(15rem * var(--content-scale));
    padding: 0 10vw 0 10vw;
  }
  .main_content_layer_new .background_layer {
    position: absolute;
    z-index: -1;
    width: calc(72rem * var(--content-scale));
    height: calc(30rem * var(--content-scale));
    overflow: hidden;
    mask-image: url(../assets/images/softedgemask.png);
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    opacity: 0.3;
    display: flex;
    margin-top: -5rem;
    /* background-color: red; */
  }
  .main_content_layer_new .background_overlay {
    position: absolute;
    z-index: -1;
    width: 100vw;
    /* height: 100%; */
    top: calc(-5rem * var(--content-scale));
    left: 0;
    bottom: calc(-25rem * var(--content-scale));
    overflow: hidden;
    mask-image: url(../assets/images/softedgemask.png);
    mask-size: 120% 100%;
    mask-position: 50% 0;
    mask-repeat: no-repeat;
    opacity: 0.3;
    display: flex;
    justify-self: flex-end;
    /* background-color: red; */
  }
  .background_layer img.bg_image {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.;
  }
  .main_content_layer_new .content_layer {
  /* background-color: rgba(0, 128, 0, 0.288); */
  max-width: calc(86rem * var(--content-scale));
  height: fit-content;
  min-height: calc(18rem * var(--content-scale));
  display: flex;
  flex-direction: column;
}
.content_layer.alt p.title,
.content_layer.alt1 p.title {
  margin-bottom: 0rem;
  font-size: 4rem;
  line-height: 4.2rem;
  white-space: pre-wrap;
  text-align: left;
}
.content_layer p.body {
  font-size: 1.4rem;
  color: #C6C6C6;
  margin-bottom: 1.2rem;
  margin-top: 0.6rem;
}
.content_layer.alt .title[data-active-course="3d"]{
  color: #EA7000;
}
.content_layer.alt .title[data-active-course="phys"]{
  color: #369df1;
}
.content_layer.alt .title[data-active-course="code"]{
  color: #7E5BE2;
}








  

  @media only screen and (max-width: 1250px) and (max-aspect-ratio: 5/3) {
      .content_new {
        height: fit-content;
        /* min-height: 50rem; */
        flex-direction: column;
        /* background-color: rgba(255, 0, 0, 0.278); */
        padding: 3rem 1rem 0 1rem;
        /* margin-top: 2rem; */
        margin-top: 0rem;
      }
      
      .cards_container_new {
        height: 20rem;
        perspective: 9rem;
        margin-left: 0;
        /* background-color: blue; */
      }
      .card_new {
        transition: transform 0.7s, opacity 0.7s, background 0.1s;
        height: 20rem;
        width: 23rem;
      }
      
      .card_new.left {
        transform: translateX(-15.5rem) rotateY(-20deg) scale(60%);
      }
      
      .card_new.right {
        transform: translateX(15.5rem) rotateY(20deg) scale(60%);
      }
      .page_indicator_new {
        position: absolute;
        margin-top: 23rem;
        border-radius: 2rem;
      }
      .page_new {
        margin-left: 2px;
        margin-right: 2px;
      }
      .text_content_new {
        margin-left: 0;
        margin-right: 0;
        margin-top: 4rem;
        width: 70vw;
        height: fit-content;
        justify-content: flex-start;
        /* background-color: red; */
      }
      
      h1.heading_new {
        text-align: center;
        font-size: 4rem;
        line-height: 4rem;
      }
      p.description_new {
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 2.5vw;
        margin-top: 0.5vw;
      }
      .read_more_btn {
        align-self: center;
      }
      .read_more_btn:hover {
        opacity: 1;
      }
      .read_more_btn:active {
        transition: opacity 0.2s;
        opacity: 0.5;
      }

      .course_buttons {
        /* background-color: red; */
        height: fit-content;
        width: 100%;
        display: flex;
        margin-bottom: 2rem;
        /* background-color: red; */
        justify-content: center;
      }
      
      button.course_btn {
        
        padding: 0.6rem 2rem;
        margin-right: 0.3rem;
        margin-left: 0.3rem;
      }
      


  }

  @media only screen and (max-width: 900px) and (max-aspect-ratio: 5/3) {
    button.course_btn {
        
      padding: 0.6rem 2rem;
      font-size: 0.5rem;
      margin-right: 0.3rem;
      margin-left: 0.3rem;
    }
    .course_btn .icon {
      /* background-color: red; */
      height: 1.5rem;
      width: 1.5rem;
      margin-left: 0;
      fill: var(--fill);
      display: flex;
      align-items: center;
      font-size: 1.5rem;
    }
    .btn_code .icon {
      font-size: 1.3rem;
    }
    .course_btn p {
      display: none;
    }

  }



  @media only screen and (max-width: 700px) and (orientation: portrait) {
    .content_new {
        flex-direction: column;
        height: fit-content;
        justify-content: flex-start;
        width: 90%;
        margin: -1rem auto 0 auto;
        /* background-color: red; */
  
      }
      .cards_container_new {
        min-height: 85vw;
        min-width: 88vw;
        perspective: 24vw;
        margin-left: 0;
        margin-top: 0;
        /* background-color: black; */
      }
    
      .card_new {
        transition: transform 0.7s, opacity 0.7s, background 0.1s;
        height: 80vw;
        width: 50vw;
        border-radius: 8vw;
        border: #7E7E7E solid 2px;
      }
      
      .card_new.left {
        transform: translateX(-38vw) rotateY(-20deg) scale(70%);
      }
      
      
      .card_new.right {
        transform: translateX(38vw) rotateY(20deg) scale(70%);
      }
  
      .page_indicator_new {
        height: 4vw;
        width: 22vw;
        margin-top: 92vw;
        border-radius: 3vw;
      }
      .page_new {
        height: 1.6vw;
        width: 1.6vw;
        border-radius: 1rem;
        margin-left: 0.5vw;
        margin-right: 0.5vw;
      }
      .page_new.active {
        width: 7vw;
      }
      .page_new::after {
        width: 1.6vw;
        border-radius: 1rem;
      }
      .page_new.active.reset::after {
        width: 1.6vw;
      }
  
  
  
  
  
    
      .text_content_new {
        margin-top: 8vw;
        margin-left: auto;
        margin-right: auto ;
        width: 80vw;
        height: fit-content;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        /* background-color: red; */
        margin-top: 4rem;
      }
    
      h1.heading_new {
        font-size: 2.8rem;
        line-height: 3rem;
      }
      p.description_new {
        font-size: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 2.5rem;
      }



      .course_buttons {
        /* background-color: red; */
        height: fit-content;
        width: 100%;
        display: flex;
        margin-bottom: 2rem;
        /* background-color: red; */
        justify-content: center;
      }
      
      button.course_btn {
        
        padding: 0.6rem 2rem;
        font-size: 0.5rem;
        margin-right: 0.3rem;
        margin-left: 0.3rem;
      }
      .course_btn .icon {
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        /* background-color: red; */
        height: 1.5rem;
        width: 1.5rem;
        margin-left: 0;
        fill: --fill;
        display: flex;
        align-items: center;
      }
      .btn_code .icon {
        font-size: 1.3rem;
      }
      .course_btn p {
        display: none;
      }
    
      
    
      /* .btn_3d[data-active="false"] {
        background-color: white;
        color: #EA7000;
      }
      .btn_phys[data-active="false"] {
        background-color: white;
        color: #369df1;
      }
      .btn_code[data-active="false"] {
        background-color: white;
        color: #7E5BE2;
      } */
      
      .course_btn:hover {
        opacity: 0.8;
      }
      .course_btn:active {
        opacity: 1;
      }


      .main_content_layer_new {
        position: relative;
        width: 100vw;
        height: fit-content;
        min-height: calc(34rem * var(--content-scale));
        /* background-color: rgba(255, 0, 0, 0.1); */
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: calc(15rem * var(--content-scale));
        padding: 0 10vw 0 10vw;
      }
      .main_content_layer_new .background_layer {
        position: absolute;
        z-index: -1;
        width: calc(72rem * var(--content-scale));
        height: calc(35rem * var(--content-scale));
        overflow: hidden;
        mask-image: url(../assets/images/softedgemask.png);
        mask-size: 100% 100%;
        mask-repeat: no-repeat;
        opacity: 0.3;
        display: flex;
        margin-top: -4rem;
        /* background-color: red; */
      }
      .main_content_layer_new .background_overlay {
        position: absolute;
        z-index: -1;
        width: 100vw;
        /* height: 100%; */
        top: calc(-5rem * var(--content-scale));
        left: 0;
        bottom: calc(-25rem * var(--content-scale));
        overflow: hidden;
        mask-image: url(../assets/images/softedgemask.png);
        mask-size: 120% 100%;
        mask-position: 50% 0;
        mask-repeat: no-repeat;
        opacity: 0.3;
        display: flex;
        justify-self: flex-end;
        /* background-color: red; */
      }
      .background_layer img.bg_image {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.;
      }
      .main_content_layer_new .content_layer {
      /* background-color: rgba(0, 128, 0, 0.288); */
      max-width: calc(86rem * var(--content-scale));
      height: fit-content;
      min-height: calc(18rem * var(--content-scale));
      display: flex;
      flex-direction: column;
    }
    .content_layer.alt p.title,
    .content_layer.alt1 p.title {
      margin-bottom: 0rem;
      white-space: pre-wrap;
      text-align: center;
      font-size: 2.5rem;
      line-height: 2.8rem;
    }
    .content_layer p.body {
      font-size: 1.4rem;
      color: #C6C6C6;
      margin-bottom: 1.2rem;
      margin-top: 0.6rem;
      font-size: 1rem;
      margin-top: 0.5rem;
      margin-bottom: 2.5rem;
      text-align: center;
      white-space: normal !important;
    }
    .content_layer.alt .title[data-active-course="3d"]{
      color: #EA7000;
    }
    .content_layer.alt .title[data-active-course="phys"]{
      color: #369df1;
    }
    .content_layer.alt .title[data-active-course="code"]{
      color: #7E5BE2;
    }
    

  }