
.contact_card {
    /* background-color: rgba(255, 0, 0, 0.399); */
    transition: 0.2s;
    --c-clr: #FFF;
    background-image: linear-gradient(-45deg, #1b1b1b, #2d2d2d);
    /* min-height: 7.5rem; */
    min-width: 13.5rem;
    display: flex;
    border-radius: 1rem;
    border-top: 3px solid var(--c-clr);
    /* flex: auto; */
    padding: 1rem 1rem 0.7rem 1rem;
    flex-direction: column;
    align-items: center;
    /* flex: 0; */
    box-shadow: 0 0 1rem -0.2rem black;
  }
  .contact_card_header {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
  }
  p.contact_holder {
    color: var(--c-clr);
    text-align: right;
    font-size: 1.2rem;
    line-height: 0.8rem;
    opacity: 0.4;
  }
  p.contact_holder span {
    font-size: 0.9rem;
  }
  .contact_card_header .icon {
    /* background-color: red; */
    color: var(--c-clr);
    line-height: 2.5rem;
    font-size: 2.5rem;
  }

  p.contact_main {
    background-color: #171515;
    border-radius: 5rem;
    padding: 0.2rem 0.8rem;
    font-size: 0.9rem;
    margin-top: 1rem;
    color: var(--c-clr);
  }
  p.contact_handler {
    font-size: 0.8rem;
    /* background-color: red; */
    line-height: 0.8rem;
    margin-top: 0.5rem;
    color: var(--c-clr);
  }
  .contact_card.WhatsApp {
    --c-clr: #37B34B;
  }
  .contact_card.Messenger {
    --c-clr: #8C6CF1;
  }
  .contact_card.Viber {
    --c-clr: #5965D0;
  }
  .contact_card.Email {
    --c-clr: #FF9B63;
  }
  .contact_card.Messenger .contact_card_header .icon {
    font-family: icons1;
  }


  .contact_card.WhatsApp:hover {
    transition: 0.3s;
    transform: translateY(-0.2rem);
    background-image: linear-gradient(-45deg, #1b1b1b, #18391e);
  }
  .contact_card.Messenger:hover {
    transition: 0.3s;
    transform: translateY(-0.2rem);
    background-image: linear-gradient(-45deg, #1b1b1b, #231b3e);
  }
  .contact_card.Viber:hover {
    transition: 0.3s;
    transform: translateY(-0.2rem);
    background-image: linear-gradient(-45deg, #1b1b1b, #232644);
  }
  .contact_card.Email:hover {
    transition: 0.3s;
    transform: translateY(-0.2rem);
    background-image: linear-gradient(-45deg, #1b1b1b, #4e3526);
  }





  @media only screen and (max-width: 700px) and (orientation: portrait) {

    .contact_card {
        min-width: 12rem;
        /* max-width: 12rem; */
      }
      p.contact_holder {
        line-height: 0.7rem;
      }
      p.contact_holder span {
        font-size: 0.7rem;
      }
      .contact_card_header .icon {
        line-height: 2.2rem;
        font-size: 2.2rem;
      }
    
      p.contact_main {
        font-size: 0.8rem;
        margin-top: 0.7rem;
      }
      p.contact_handler {
        font-size: 0.7rem;
        line-height: 0.7rem;
        color: var(--c-clr);
      }
      

  }