@import url(assets/font-import.css);
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
*{
  margin:0;
  box-sizing: border-box;
  padding: 0;
}
*{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;
 }
::-webkit-scrollbar {
  display: none;
}
/* ::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); 
  border-radius: 10px;
  border: rgb(78, 78, 78) solid 1px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.8); 
} */




.blur {
  backdrop-filter: blur(80px);
}

@keyframes rotate_full {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.bg_circle {
  background-color: #612401;
}
.bg_circle.top-left {
  position: fixed;
  left: 0;
  top: 0;
  height: 25rem;
  width: 45rem;
  animation: rotate_full 30s linear infinite;
  border-radius: 50%;
  margin: -10rem 0 0 -15rem;
}

.bg_circle.top-right {
  position: fixed;
  right: 0;
  top: 0;
  height: 25rem;
  width: 35rem;
  animation: rotate_full 40s linear infinite;
  border-radius: 20%;
  margin: -15rem 0 0 0;
}


.blur_overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  /* display: flex; */
  /* perspective: 23rem; */
}

.navbar {
  z-index: 1;
  height: 5rem;
  width: 100%;
  border-radius: 0 0 2rem 2rem;
  background-color: #2c2c2c98;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

.logo {
  transition: 0.5s;
  height: 2.8rem;
  margin-left: 3rem;
  margin-top: 5px;
}

.links_container {
  width: 28%;
  display: flex;
  justify-content: space-between;
}

.links_container p {
  font-family: ProductSans;
  color: #EA7000;
  cursor: pointer;
}

.main_button {
  transition: 0.5s;
  padding: 0.6rem 1.5rem;
  background-color: #2b2b2b66;
  border-radius: 50px;
  margin-right: 3rem;
  font-family: ProductSans;
  color: #EA7000;
  border: #A03A00 solid 2px;
  box-shadow: #EA70004C 0px 0px 12px;
  cursor: pointer;
}
.logo:has(~ .main_button:active){
  transition: 0.5s;
  transform: rotate(360deg);
  transform-style: preserve-3d;
}



.background_image_container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}
.background_image {
  position: fixed;
  /* background-color: rgba(0, 0, 0, 0.308); */
  background-image: url(assets/3dprint2.jpg);
  width: 120vh;
  height: 50vh;
  background-size: cover;
  background-position: center;
  margin-top: 5rem;
}
.background_image::after {
  display: block;
  position: relative;
  content: " ";
  height: 100%;
  background-color: rgba(24, 24, 24, 0.699);
}


.content {
  display: flex;
  height: calc(90vh - 1.5rem);
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  width: 100%;
  /* margin: 5rem auto 0 auto; */
}

.cards_container {
  /* border: black solid; */
  height: calc(90vh - 1rem);
  min-width: 65vh;
  perspective: 16vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}
.card {
  transition: 1s;
  position: absolute;
  height: 64vh;
  width: 38vh;
  border-radius: 6vh;
  border: #7E7E7E solid 0.4vh;
}

.card.c1 {
  background: url(assets/hardwarecomputing2.jpg);
  background-size: cover;
  background-position: center;
}

.card.c2 {
  background: url(assets/3dprint2.jpg);
  background-size: cover;
  background-position: center;
}

.card.c3 {
  background: url(assets/codeblocks.png);
  background-size: cover;
  background-position: center;
}

.card.left {
  transform: translateX(-28vh) rotateY(-20deg) scale(70%);
  transform-style: preserve-3d;
  opacity: 40%;
  cursor: pointer;
}

.card.center {
  z-index: 1;
  opacity: 100%;
}

.card.right {
  transform: translateX(28vh) rotateY(20deg) scale(70%);
  transform-style: preserve-3d;
  /* z-index: 1; */
  opacity: 40%;
  cursor: pointer;
}

/* .card_click {
  background-color: rgba(0, 0, 0, 0);
  height: 60vh;
  width: 10vh;
  cursor: pointer;
  z-index: 3;
}
.card_click.left {
  margin-right: auto;
  border-radius: 40% 5vh 5vh 40%;
}
.card_click.right {
  margin-left: auto;
  border-radius: 5vh 40% 40% 5vh;
} */

.card.left:hover, .card.right:hover {
  transition: 0.7s;
  opacity: 60%;
  box-shadow: white 0 0 8vh -3vh;
}

.text_content {
  /* margin: 2rem 0 0 2rem; */
  margin-left: 4rem;
  margin-right: 2rem;
  /* background-color: rgba(0, 0, 0, 0.253); */
  width: 105vh;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1.heading {
  font-family: ProductSansBlack;
  font-size: 10vh;
  color: #EA7000;
}
p.description {
  font-family: ProductSans;
  font-size: 4vh;
  color: #B1B1B1;
  margin-bottom: 2rem;
}

.content_bottom {
  height: 35rem;
  width: 100%;
  background-image: linear-gradient(to bottom, #1a1a1a00, #0000008c);
}



/* .footer {
  height: 10rem;
  width: 5rem;
  background-color: transparent;
} */


@media only screen and (max-width: 600px) {
  .bg_circle.top-left, .bg_circle.top-right {
    animation: none;
  }
  .blur_overlay.blur {
    backdrop-filter: blur(0);
    background-image: linear-gradient(170deg, #5A2405, #27282B, #1A1A1A);
  }

  .content {
    flex-direction: column;
    display: flex;
    height: 150vw;
    margin-top: 5rem;
    justify-content: flex-start;
    /* align-items: center; */
    /* background-color: red; */
    width: 90%;
    margin: 6rem auto 0 auto;
  }
  .cards_container {
    /* background-color: black; */
    /* border: black solid; */
    min-height: 85vw;
    min-width:88vw;
    perspective: 24vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }

  .card {
    transition: 1s;
    position: absolute;
    height: 80vw;
    width: 50vw;
    border-radius: 8vw;
    border: #7E7E7E solid 0.6vw;
  }
  
  .card.c1 {
    background: url(assets/hardwarecomputing2.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .card.c2 {
    background: url(assets/3dprint2.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .card.c3 {
    background: url(assets/codeblocks.png);
    background-size: cover;
    background-position: center;
  }
  
  .card.left {
    transform: translateX(-38vw) rotateY(-20deg) scale(70%);
    transform-style: preserve-3d;
    opacity: 40%;
    cursor: pointer;
  }
  
  .card.center {
    z-index: 1;
    opacity: 100%;
  }
  
  .card.right {
    transform: translateX(38vw) rotateY(20deg) scale(70%);
    transform-style: preserve-3d;
    /* z-index: 1; */
    opacity: 40%;
    cursor: pointer;
  }

  .text_content {
    /* margin: 2rem 0 0 2rem; */
    margin-left: auto;
    margin-right: auto ;
    /* background-color: rgba(0, 0, 0, 0.253); */
    width: 85vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  h1.heading {
    font-family: ProductSansBlack;
    font-size: 10vw;
    color: #EA7000;
  }
  p.description {
    font-family: ProductSans;
    font-size: 4vw;
    color: #B1B1B1;
    margin-bottom: 2rem;
  }

}