:root {
    --background-color: #1A1A1A;
    --accent-color: #EA7000;
    --secondary-accent-color: #612401;

    --text-color: #B1B1B1;
    --active-text-color: #313131;
}

:root:has(.blue) {
    --background-color: #1A1A1A;
    --accent-color: #369df1;
    --secondary-accent-color: #012b61;

    --text-color: #a8c0d0;
    --active-text-color: #313131;
}

:root:has(.purple) {
    --background-color: #1A1A1A;
    --accent-color: #9736f1;
    --secondary-accent-color: #3e0161;

    --text-color: #92bad4;
    --active-text-color: #313131;
}



.justify-text {
    text-align: justify;
    text-justify: inter-word;
}
.font-regular {
    font-family: ProductSans;
}
.font-heavy {
    font-family: ProductSansBlack;
}
.font-bold {
    font-family: ProductSansBold;
}
.font-light {
    font-family: ProductSansLight;
}
.font-thin {
    font-family: ProductSansThin;
}