:root {
    --background-color: #1A1A1A;
    --accent-color: #EA7000;
    --secondary-accent-color: #612401;

    --text-color: #a3a3a3;
    --active-text-color: #313131;
    --transparent-accent: #ea710075;
}

:root:has(.blue) {
    --background-color: #1A1A1A;
    --accent-color: #369df1;
    --secondary-accent-color: #012b61;

    --text-color: #a3a3a3;
    --active-text-color: #313131;
    --transparent-accent: #369df175;
}

:root:has(.purple) {
    --background-color: #1A1A1A;
    --accent-color: #7E5BE2;
    --secondary-accent-color: #3b2281;

    --text-color: #a3a3a3;
    --active-text-color: #313131;
    --transparent-accent: #7E5BE275;
}



.justify-text {
    text-align: justify;
    text-justify: inter-word;
}
.center-text {
    text-align: center;
}
.font-regular {
    font-family: ProductSans;
}
.font-heavy {
    font-family: ProductSansBlack;
}
.font-bold {
    font-family: ProductSansBold;
}
.font-light {
    font-family: ProductSansLight;
}
.font-thin {
    font-family: ProductSansThin;
}
.fontColor-accent {
    color: var(--accent-color)
}
.fontColor-normal {
    color: var(--text-color)
}